{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/overcode.css' %}" />
{% endblock %}

{% block content %}

<div class="overcode-page escolha-overcode">
    <div class="col col-12">
        <div class="card container-overcode">

            <h2 class="h2-overcode">Executar Overcode</h2>

            <form method="get" class="form-overcode form-escolha-overcode">

                <label class="label-overcode" for="{{ form.turma.id_for_label }}">Turma:</label>
                {{ form.turma }}

                <label class="label-overcode" for="{{ form.problema.id_for_label }}">Problema:</label>
                {{ form.problema }}

            </form>

            <form method="post" class="form-overcode form-processar-overcode">
                {% csrf_token %}

                <input type="hidden" name="turma" value="{{ request.GET.turma }}">
                <input type="hidden" name="problema" value="{{ request.GET.problema }}">

            <button type="submit" class="primary botao-overcode">Iniciar processamento</button>
            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/escolha_form.js' %}"></script>
{% endblock %}
