{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/overcode.css' %}" />
{% endblock %}

{% block content %}

<div class="overcode-page mensagem-inicio-overcode">
    <div class="col col-12">
        <div class="card container-overcode mensagem-card-overcode">

            <h2 class="h2-overcode">Processamento iniciado</h2>

            <p class="texto-overcode">
                Turma <strong>{{ turma.name }}</strong><br>
                Problema <strong>{{ problema.title }}</strong>
            </p>

            <a href="{{ resultado_url }}" class="primary link-botao-overcode">
                Ver grupos de soluções
            </a>

        </div>
    </div>
</div>

{% endblock %}
