Cython>=0.28.5
jupyter
beautifulsoup4
requests
gunicorn
tqdm
django-extensions
django==2.2.5
psycopg2
django-picklefield
numpy
scikit-learn==0.22.1
matplotlib
pandas
seaborn
jupyter
django-simple-history
django-import-export
dash
django-rest-framework
statsmodels
django-filter
whitenoise
python-dotenv
