Cython>=0.28.5
beautifulsoup4
requests
gunicorn
django-extensions
django==2.2.5
psycopg2
django-picklefield
numpy
matplotlib
pandas
django-simple-history
django-import-export
dash
django-rest-framework
statsmodels
django-filter
whitenoise
python-dotenv
Werkzeug==2.0.0
locust
opentelemetry-distro
opentelemetry-exporter-otlp-proto-http
django-maintenance-mode
# apache-skywalking[http]