Cython>=0.28.5
beautifulsoup4
requests
gunicorn
django-extensions
django==3.2.25
psycopg2==2.8.6
django-picklefield
numpy
matplotlib
pandas
django-simple-history
django-import-export
dash
django-rest-framework
statsmodels
django-filter
whitenoise
python-dotenv
Werkzeug==3.0.1
locust
opentelemetry-distro
opentelemetry-exporter-otlp-proto-http
django-maintenance-mode
pytest-playwright
# apache-skywalking[http]