{% load static %}
{% load i18n %}
{% get_current_language as language %}

<!DOCTYPE html>
<html lang="pt-br">
      <head>
        <title>{% blocktrans %}Home{% endblocktrans %} | Machine Teaching</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/footer.js' %}"></script>
      </head>
      <body>
        <div class="bg">
        <div class="landing">
          <div class="header">
            <div class="mt">Machine Teaching</div>
            <span class="change-language" onclick="changeLanguage('{{language}}')">
                {% if language == 'en' %}Português
                {% else %}English{% endif %}
                <img src="{% static 'img/earth.png' %}"></span>
          </div>
            <h1 style="font-weight: 700; color: white">{% blocktrans %}Welcome to {% endblocktrans %} Machine Teaching</h1>
<div><h2>Já já estamos de volta!</h2>
<h4 style="color: white">Desculpe atrasar o seu estudo, estamos fora do ar para atualizar o sistema e trazer algumas melhorias. 
    Voltamos em alguns dias!</h4>
<img src="{%static 'img/manutencao.jpg'%}" width="100%">
      <div class="container">
        <div style="padding-top: 14rem">
            <a href="{%url 'about'%}">{% blocktrans %}About this research{% endblocktrans %}</a>
        </div>
      <div class="footer" style="border-bottom: none;">
          <div class="footer-left">Machine Teaching</div>
          <div class="footer-right">
            {% blocktrans %}Check the {% endblocktrans %}
            <span onclick="showConditions('{{language}}')">
            {% blocktrans %}Terms and Conditions{% endblocktrans %}
            </span>
            {% blocktrans %}and the {% endblocktrans %}
            <span onclick="showPrivacy('{{language}}')">
            {% blocktrans %}Privacy Policy{% endblocktrans %}
            </span> | 
            <span >
              <a href="{%url 'about'%}">{% blocktrans %}About this research{% endblocktrans %}</a>
            </span> | 
            {% blocktrans %}© 2020 Copyright: <a href="http://machineteaching.tech">machineteaching.tech{% endblocktrans %}</a>
          </div>
        </div>
      </div>
      </div>
    </body>
</html>
