{% extends 'registration/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as language %}
{% block content %}
          <div class="login">
          <h2>{% blocktrans %}Login{% endblocktrans %}</h2>
            <div class="card" style="margin-top: 2rem;">
                <form method="post" action="{% url 'login' %}" class="form">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <span>{{ error|escape }}</span>
                    {% endfor %}
                    {% for error in form.username.errors %}
                        <span>{{ error|escape }}</span>
                    {% endfor %}
                    <input type="text" name="{{ form.username.name }}" value="{{form.username.value|default_if_none:''}}" placeholder="{% blocktrans %}E-mail{% endblocktrans %}"></input>
                    {% for error in form.password.errors %}
                        <span>{{ error|escape }}</span>
                    {% endfor %}
                    <input type="password" name="{{ form.password.name }}" placeholder="{% blocktrans %}Password{% endblocktrans %}"></input>
                    <div>
                        <div><a class="link" href="{% url 'password_reset' %}">{% blocktrans %}Forgot password?{% endblocktrans %}</a></div>
                        <div><button type="submit" class="primary">{% blocktrans %}Login{% endblocktrans %}</button></div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div><br><br>
            <a href="{% url 'signup' %}">
            <button class="btn">{% blocktrans %}Create account{% endblocktrans %}</button>
            </a>
        </div>
{% endblock %}
