{% extends 'registration/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as language %}
{% block content %}
          <div class="login">
          <h2>{% blocktrans %}Password reset{% endblocktrans %}</h2>
            <div class="card" style="margin-top: 2rem;">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div style="justify-content: center;">
                        <div><button type="submit" class="primary" style="margin: auto;">{% trans "Submit" %}</button></div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div>
        </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$('[for="id_email"]').hide();
	$('#id_email').attr('placeholder','E-mail');
</script>
{% endblock %}
