{% extends 'registration/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as language %}
{% block content %}
          <div class="login">
          <h2>{% blocktrans %}Password reset{% endblocktrans %}</h2>
            <div class="card" style="margin-top: 2rem; min-width: 30rem;">
                <p>
                  {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %} 
                </p>
                <p>
                  {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
            <a href="{% url 'login' %}" style="margin: 5rem 0;">
            <button class="btn">{% blocktrans %}Login{% endblocktrans %}</button></a>
        <div>
        </div>
{% endblock %}
