{% extends 'registration/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as language %}
{% block content %}
          <div class="login">
          <h2>{% blocktrans %}Password reset{% endblocktrans %}</h2>
            <div class="card" style="margin-top: 2rem; min-width: 30rem;">
  <p>
    {% trans "Your password has been set. You may go ahead and " %}<a href="{% url 'login' %}">{% trans "sign in" %}</a>{% trans " now." %}
  </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
            <a href="{% url 'login' %}" style="margin: 5rem 0;">
            <button class="btn">{% blocktrans %}Login{% endblocktrans %}</button></a>
        <div>
        </div>
{% endblock %}
