{% extends 'registration/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as language %}
{% block content %}
  {% if validlink %}
          <div class="login">
          <h2>{% blocktrans %}Password reset{% endblocktrans %}</h2>
            <div class="card" style="margin-top: 2rem; min-width: 30rem;">
    <h2>{% trans "Change password" %}</h2>
    <form method="post" class="loginform">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="primary" type="submit">{% trans "Change" %}</button>
    </form>
            </div>
          </div>
        </div>
      </div>
  {% else %}
          <div class="login">
          <h2>{% blocktrans %}Password reset{% endblocktrans %}</h2>
            <div class="card" style="margin-top: 2rem; min-width: 30rem;">
    <p>
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.{% endblocktrans %}
    </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
            <a href="{% url 'login' %}" style="margin: 5rem 0;">
            <button class="btn">{% blocktrans %}Login{% endblocktrans %}</button></a>
        <div>
        </div>
  {% endif %}
{% endblock %}
