{% load static %}
{% load i18n %}
{% get_current_language as language %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <title>{{title}} | Machine Teaching</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- stylesheets -->
      <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
      <link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.58.2/lib/codemirror.css' %}"/>
      <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
      <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    </head>
    <body>
        <div class="sidebar"><a href="http://machineteaching.tech" class="brand">Machine Teaching</a>
          <div class="menu-container">
            <ul class="menu">

              <!-- menu -->
              <a class="menu-item" href="{% url 'start' %}">{% blocktrans %}Home{% endblocktrans %}</a>
              <a class="menu-item" href="{% url 'next' %}">{% blocktrans %}Current problem{% endblocktrans %}</a>
              <a class="menu-item" href="{% url 'past_problems' %}">{% blocktrans %}Past problems{% endblocktrans %}</a>
              <a class="menu-item" href="{% url 'chapters' %}">{% blocktrans %}Chapters{% endblocktrans %}</a>
              {% if perms.questions.view_userlogview %}
              <a class="menu-item" href="{% url 'classes' %}">{% blocktrans %}Classes{% endblocktrans %}</a>
              {% endif %}
              <a class="menu-item" href="{% if perms.questions.view_userlogview %}{% url 'show_outcome' %}{% else %}{% url 'dashboard' %}{% endif %}">{% blocktrans %}Outcomes{% endblocktrans %}</a>

            </ul>
            <li class="menu-separator"></li>
            <div class="menu-title">{% blocktrans %}Strategy{% endblocktrans %}</div>
            <ul class="menu">

              <!-- strategy -->
              <input type="radio" id="1" value="1" name="sequential" style="display: none;"{% if user.userprofile.sequential %} checked {% endif %}></input>
              <label for="1" class="menu-item">{% blocktrans %}Sequential{% endblocktrans %}</label>
              <input type="radio" id="0" value="0" name="sequential" style="display: none;"{% if not user.userprofile.sequential %} checked {% endif %}></input>
              <label for="0" class="menu-item">{% blocktrans %}Random{% endblocktrans %}</label>

            </ul>
            <li class="menu-separator"></li>
            <div class="menu-title">{% blocktrans %}Chapters{% endblocktrans %}</div>
            <ul class="menu">

              <!-- chapters -->
              {% for chapter in available_chapters %}
              <a class="menu-item" href="{% url 'show_chapter' chapter=chapter.id %}">{{chapter.label}}</a>
              {% endfor %}

            </ul>
          </div>
        </div>
        <div class="content">
        <div class="topbar">
          <div class="topbar-left">
            <span class="close" onclick="closeMenu()">
              <div class="menu-icon">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </span>
            <span class="title">{{ title }}</span>
          </div>
          <div class="topbar-right">
            <span class="name">{% if user.first_name %}
            {% blocktrans %}Hello{% endblocktrans %}, {{ user.first_name }} {{ user.last_name }}
            {% endif %}<span>></span>
            <div class="card dropdown">
              {% if perms.questions.view_userlogview %}
              <a class="link" href="{% url 'admin:index' %}" style="height: 2.2rem; margin-bottom: 2rem;">{% blocktrans %}Administration{% endblocktrans %}</a>
              {% else %}
              <a class="link" href="{% url 'edit_profile' %}" style="height: 2.2rem; margin-bottom: 2rem;">{% blocktrans %}Change class{% endblocktrans %}</a>
              {% endif %}
              <br>
              <a class="link logout" href="{% url 'logout' %}" style="height: 2.2rem;">{% blocktrans %}Logout{% endblocktrans %}</a>
            </div></span>
          </div>
        </div>

        <!-- content --->
        <div class="layout-content">
            {% block content %}
            {% endblock %}
        </div>

        <!-- footer --->
        <div class="footer" style="border-bottom: none;">
            <div class="footer-left"><span class="footer-brand">Machine Teaching</span><span class="change-language" onclick="changeLanguage('{{language}}')">
                {% if language == 'en' %}Português
                {% else %}English{% endif %}
                <img src="{% static 'img/earth.png' %}"></span></div>
                <div class="footer-right">
                {% blocktrans %}Check the {% endblocktrans %}
                <span onclick="showConditions('{{language}}')">
                {% blocktrans %}Terms and Conditions{% endblocktrans %}
                </span>
                {% blocktrans %}and the {% endblocktrans %}
                <span onclick="showPrivacy('{{language}}')">
                {% blocktrans %}Privacy Policy{% endblocktrans %}
                </span> | 
                <span onclick="showAbout('{{language}}')">
                {% blocktrans %}About this research{% endblocktrans %}
                </span> | 
                <span onclick="showTutorials('{{language}}')">
                {% blocktrans %}Tutorials{% endblocktrans %}
                </span> | 
                {% blocktrans %}© 2020 Copyright: <a href="http://machineteaching.tech">machineteaching.tech{% endblocktrans %}</a>
            </div>
        </div>
        </div>

      {% if not student_course and not perms.questions.view_userlogview %}
      <div class="bg2">
        <div class="card add-course" style="width: 30rem;">
          <h3>{% blocktrans %}Register your course{% endblocktrans %}</h3>
            <select id="id_course">
            <option disabled="" selected="">{% blocktrans %}Your course{% endblocktrans %}</option>
            <option>Astronomia</option>
            <option>Bacharelado em Ciências Matemáticas e da Terra</option>
            <option>Bacharelado em Física</option>
            <option>Bacharelado em Matemática</option>
            <option>Bacharelado em Química</option>
            <option>Ciências Atuariais</option>
            <option>Engenharia Civil</option>
            <option>Engenharia da Produção</option>
            <option>Engenharia de Materiais</option>
            <option>Engenharia de Petróleo</option>
            <option>Engenharia Elétrica</option>
            <option>Engenharia Matemática</option>
            <option>Engenharia Mecânica</option>
            <option>Engenharia Metalúrgica</option>
            <option>Engenharia Naval e Oceânica</option>
            <option>Engenharia Nuclear</option>
            <option>Estatística</option>
            <option>Licenciatura em Física</option>
            <option>Licenciatura em Matemática</option>
            <option>Licenciatura em Química</option>
            <option>Matemática Aplicada</option>
            <option>Meteorologia</option>
            <option>Nanotecnologia</option>
            <option>Química Atribuições Tecnológicas</option>
            <option>Outro</option>
          </select>
          <input type="text" name="course" placeholder="{% blocktrans %}Other course{% endblocktrans %}" style="display: none;"><br>
          <button class="primary" onclick="register()">{% blocktrans %}Register{% endblocktrans %}</button>
        </div>
      </div>
      {% endif %}


      <!-- scripts -->
      <script type="text/javascript">
              //logos
              const ufrj = '{% static "img/logo/ufrj.png" %}'
              const cnpq = '{% static "img/logo/cnpq.svg" %}'
              const faperj = '{% static "img/logo/faperj.jpg" %}'
              const dcc = '{% static "img/logo/dcc.png" %}'
              const coppe = '{% static "img/logo/coppe.jpg" %}'
              const pesc = '{% static "img/logo/pesc.png" %}'

              const close = '{% blocktrans %}Close{% endblocktrans %}';
      </script>
<!--       <script src="https://cdn.jsdelivr.net/pyodide/v0.17.0/full/pyodide.js"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" type="text/javascript"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
      <script src="{% static 'vendor/codemirror-5.58.2/lib/codemirror-repl.js' %}"></script>
      <script src="{% static 'vendor/codemirror-5.58.2/lib/codemirror.js' %}"></script>
      <script src="{% static 'vendor/codemirror-5.58.2/mode/python/python.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.4.2/math.js"></script>
      <script src="{% static 'js/skulpt.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'js/skulpt-stdlib.js' %}" type="text/javascript"></script>
      <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/sculpt.js' %}"></script>
      <script src="{% static 'js/footer.js' %}"></script>
      {% block javascript %}
      {% endblock %}
      <script type="text/javascript">
          //strategies
              $("[name='sequential']").on('click', function(){
                  $.ajax({
                      type: "GET",
                      url: '{% url 'update_strategy' %}',
                      data: {
                'sequential': $("[name='sequential']:checked").val(          )
                      },
                      dataType: 'json',
                      success: function(data){
                          console.log('status: ' + data['status']);
                          window.location.href = '{% url 'start' %}';
              
                      },
                      error: function (request, status, error) {
                          console.log(request.status);
                      }
                  });
              });

              function register() {
                  $.ajax({
                      type: "GET",
                      url: '{% url "saveprofile" %}',
                      data: {'course': $('[name="course"]').val()},
                      dataType: 'json',
                      success: function(data){
                          console.log('status: ' + data['status']);
                      },
                      error: function (request, status, error) {
                          console.log(request.status);
                      }
                  });
                  $('.bg2').hide();
              };

              $('#id_course').on('change', function(){
                  new_value = $(this).val();
                  if (new_value == "Outro") {
                      $('[name="course"]').val('').show();     
                  } else {
                      $('[name="course"]').val(new_value).hide();
                  }
              });
      </script>
    </body>
</html>