<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load i18n %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Machine Teaching</title>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    {% block header %}
    {% endblock %}

</head>

<body>
<!-- Loader -->
<div class="loader"><img src="{% static 'img/loader.svg' %}" class="loader-img"></div>

<!-- Navigation -->
<nav class="navbar">
    <a class="brand" href="/">Machine Teaching</a>
    <!-- Strategy bar -->
    {% if user.is_authenticated %}
    <div class="strategy-div">
        <div class="strategy">
            {% trans "Strategy" %}
            <div class="switch">
                <input type="radio" name="sequential" value=1 id="1"
                       {% if user.userprofile.sequential %} checked {% endif %}><label for="1">{% trans "Sequential" %}</label>
                <input type="radio" name="sequential" value=0 id="0"
                       {% if not user.userprofile.sequential %} checked {% endif %}><label for="0">{% trans "Random" %}</label>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Menu -->
    <div class="menu">
        {% if user.is_authenticated %}
        <a style="width: 210px" href="{% url 'next' %}">{% trans "Current Problem" %}</a>
        <a style="width: 245px" href="{% url 'past_problems' %}">{% trans "Past Problems" %}</a>
        <a style="width: 120px" href="{% url 'chapters' %}">{% trans "Chapters" %}</a>
        {% endif %}
        {% if perms.questions.view_userlogview %}
        <a style="width: 150px" href="{% url 'show_outcome' %}">{% trans "Outcomes" %}</a>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="user">{% trans "Hello" %}, {{user.first_name}} {{user.last_name}}<a href="{% url 'logout'%}" class="logout-btn">{% trans "Logout" %}</a></div>
        {% else %}
        <a style="width: 140px; justify-content: right" href="{% url 'signup' %}" id="signup">{% trans "Signup" %}</a>
        <a style="width: 100px" href="{% url 'login' %}" id="accountslogin"><button class="login-btn">{% trans "Login" %}</button></a>
        {% endif %}
    </div>

    <!-- Responsive menu -->
    {% if user.is_authenticated %}
    <div class="burger" onclick="openNav()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <!-- Menu -->
    <div class="menu-small" id="menu">
        <a style="width: 220px" href="{% url 'next' %}">{% trans "Current Problem" %}</a>
        <a style="width: 250px" href="{% url 'past_problems' %}">{% trans "Past Problems" %}</a>
        <a style="width: 100px" href="{% url 'chapters' %}">{% trans "Chapters" %}</a>
        {% endif %}
        {% if perms.questions.view_userlogview %}
        <a style="width: 150px" href="{% url 'show_outcome' %}">{% trans "Outcomes" %}</a>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="user">{% trans "Hello" %}, {{user.first_name}} {{user.last_name}}<a href="{% url 'logout'%}" class="logout-btn">{% trans "Logout" %}</a></div>
        <!-- Dark/Light switch -->
        <div class="inferior-small">
            <div id="lang-small"><a href="pt-br{{ request.get_full_path }}" style="margin: 0; padding: 0;"><div class="lang">PORTUGUÊS</div></a></div>
            <div class="change-colors-small" id="colors" onclick="toggleTheme()"><div id="theme-small"></div></div>
        </div>
        {% else %}
        <div id="lang-small" style="display: none"></div>
        <div id="theme-small" style="display: none"></div>
    </div>
    <div class="login-menu">
        <a style="width: 140px; justify-content: right" href="{% url 'signup' %}" id="signup">{% trans "Signup" %}</a>
        <a style="width: 100px" href="{% url 'login' %}" id="accountslogin"><button class="login-btn">{% trans "Login" %}</button></a>
    </div>
    {% endif %}

    <div id="x" onclick="closeNav()">X</div>

</nav>

<!-- Dark/Light switch -->
<div class="inferior" id="switch">
    <div id="lang"><a href="pt-br{{ request.get_full_path }}" style="margin: 0; padding: 0; text-decoration: none"><div class="lang">PORTUGUÊS</div></a></div>
    <div class="change-colors" id="colors" onclick="toggleTheme()"><div id="theme"></div></div>
</div>


<!-- Page Content -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap core JavaScript -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<!--<script src="{% static 'js/script.js' %}"></script>-->
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="https://v2.zopim.com/?64bHCyGA4wDlqZy77v5LXk9LOHCCnz9t";z.t=+new Date;$.
            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<!-- Change between strategies -->
<script>
    $("[name='sequential']").on('click', function(){
        $.ajax({
            type: "GET",
            url: '{% url 'update_strategy' %}',
            data: {
                'sequential': $("[name='sequential']:checked").val()
            },
            dataType: 'json',
            success: function(data){
                console.log('status: ' + data['status']);
                window.location.href = "{% url 'start' %}";

            },
            error: function (request, status, error) {
                console.log(request.status);
            }
        });
    });

    //Loader script
    $(window).on("load",function(){
        setTimeout(removeLoader, 500);
        setTimeout(showFirst, 1000);
        setTimeout(showSecond, 1500);
        setTimeout(showThird, 2000);
    });
    function removeLoader() {
        $(".loader").fadeOut("slow");
    };
    function showFirst() {
        $(".show-first").fadeTo("slow",1);
    };
    function showSecond() {
        $(".show-second").fadeTo("slow",1);
    };
    function showThird() {
        $(".show-third").fadeTo("slow",1);
    };

    // function to set a given theme/color-scheme
    function setTheme(themeName) {
        localStorage.setItem('theme', themeName);
        document.documentElement.className = themeName;
    }

    // function to toggle between light and dark theme
    function toggleTheme() {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-light');
            document.getElementById("theme").innerText = "DARK MODE"
            document.getElementById("theme2").innerText = "DARK MODE"
        } else {
            setTheme('theme-dark');
            document.getElementById("theme").innerText = "LIGHT MODE"
            document.getElementById("theme2").innerText = "LIGHT MODE"
        }
    }

    // Immediately invoked function to set the theme on initial load
    (function () {
        if (localStorage.getItem('theme') === 'theme-dark') {
            setTheme('theme-dark');
            document.getElementById("theme").innerText = "LIGHT MODE"
            document.getElementById("theme-small").innerText = "LIGHT MODE"
        } else {
            setTheme('theme-light');
            document.getElementById("theme").innerText = "DARK MODE"
            document.getElementById("theme-small").innerText = "DARK MODE"
        }
    })();


    {% get_current_language as language %}
    if ('{{ language }}'.indexOf('en') !== -1) {
        document.getElementById('lang').innerHTML = "<a href=\"{{ request.get_full_path|slice:1 }}\" style=\"text-decoration: none\"><div class=\"lang\">PORTUGUÊS</div></a>";
        document.getElementById('lang-small').innerHTML = "<a href=\"{{ request.get_full_path|slice:1 }}\" style=\"margin: 0; padding: 0;\"><div class=\"lang-small\">PORTUGUÊS</div></a>";
    } else {
        document.getElementById('lang').innerHTML = "<a href=\"/en{{ request.get_full_path }}\" style=\"text-decoration: none\"><div class=\"lang\">ENGLISH</div></a>";
        document.getElementById('lang-small').innerHTML = "<a href=\"/en{{ request.get_full_path }}\" style=\"margin: 0; padding: 0;\"><div class=\"lang-small\">ENGLISH</div></a>";
    }

    function openNav() {
        document.getElementById("menu").style.width = "100%";
        document.getElementById("menu").style.height = "100%";
        document.getElementById("x").style.display = "flex";
    }

    function closeNav() {
        document.getElementById("menu").style.width = "0";
        document.getElementById("menu").style.height = "0";
        document.getElementById("x").style.display = "none";
    }
</script>

{% block javascript %}
{% endblock %}
<!-- Footer -->
<footer class="footer {% block footer %}{% endblock %}">


    <!-- Copyright -->
    </div>
    <div class="footer-copyright text-center py-3 ">
        {% blocktrans %}Check the {% endblocktrans %}<a href="{% url 'terms_and_conditions'%}">{% blocktrans %}Terms and Conditions{% endblocktrans %}</a>{% blocktrans %} and the {% endblocktrans %}<a href="{% url 'privacy' %}">{% blocktrans %}Privacy Policy{% endblocktrans %}</a>
        <br><a href="{% url 'about'%}">{% blocktrans %}About this research{% endblocktrans %}</a>
        <br>© {% now "Y" %} Copyright: <a href="/">machineteaching.tech</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


</body>

</html>
