{% extends "questions/base.html" %}
{% load static %}
{% block header %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
{% endblock %}
{% block content %}
<p><b>Aula:</b><span id="aula">Aula</span></p>
<table id="problems" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="searchable">Aula</th>
            <th class="searchable">Problema</th>
            <th class="searchable">Resultado</th>
        </tr>
    </thead>

    <tbody>
        {% for item in problems %}
        <tr> 
            <td>{{ item.chapter }}</td>
            <td><a href={% url 'show_problem' problem_id=item.id %}>{{ item.title }}</a></td>
            <td>{% if item.id in passed %}<span class="badge badge-success">Passed</span>{% else %}
                {% if item.id in skipped %}<span class="badge badge-primary">Skipped</span>{% endif %}
                {% if item.id in failed %}<span class="badge badge-danger">Failed</span>{% endif %}
                {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
        var table = $('#problems').DataTable({
            "pageLength": 50,
            "order": [[ 0, "desc" ]]
            });

        $("#aula").each( function ( i ) {
        var select = $('<select><option value="">Todas</option></select>')
            .appendTo( $(this).empty() )
            .on( 'change', function () {
                table.column( i )
                    .search( $(this).val() )
                    .draw();
            } );
 
        table.column( i ).data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
    } );
} );
</script>
{% endblock %}
