{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="col-12" style="display: flex; padding: 1rem; height: 25rem">
    <div class="col-5" style="margin-right: 1rem; height: 100%">
        <div class="card" style=" height: 100%">
            <h3>{% blocktrans %}Class progress{% endblocktrans %}</h3>
            {{progress_plot|safe}}</div>
    </div>
    <div class="col-7" style="margin-left: 1rem; height: 100%">
        <div class="card" style=" height: 100%">
            <h3 style="margin-bottom: 0">{% blocktrans %}Problems{% endblocktrans %}</h3>
            <span style="margin-bottom: 1rem; display: inline-block;">{% blocktrans %}class performance by problem{% endblocktrans %}</span>
            {{problems_plot|safe}}</div>
    </div>
</div>
<div class="col-12" style="display: flex; padding: 1rem; height: 50rem">
    <div class="col-7" style="margin-right: 1rem; height: 100%">
        <div class="card" style="height: calc(45% - 1rem)">
            <h3 style="margin-bottom: 0.5rem">{% blocktrans %}Chapters{% endblocktrans %}</h3>
                <table style="margin-right: 1rem; display: block;">
                <tr class="row" style="border: none; font-size: 13px; font-weight: 300; background: #EBECEF">
                    <td style="width: 22%; padding: 0.3rem 1rem">{% blocktrans %}Chapter{% endblocktrans %}</td>
                    <td style="width: 22%; padding: 0.3rem 1rem">{% blocktrans %}Progresso{% endblocktrans %}</td>
                    <td style="width: 12%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Tempo{% endblocktrans %}</td>
                    <td style="width: 12%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Atrasos{% endblocktrans %}</td>
                    <td style="width: 16%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Tentativas (problemas){% endblocktrans %}</td>
                    <td style="width: 16%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Tempo (problemas){% endblocktrans %}</td>
                </tr>
            </table>
            <div style="max-height: 14rem; overflow: auto;">
                <table>
                {% for chapter in chapter_table %}
                <tr class="row">
                    <td style="width: 22%">{{chapter.chapter}}</td>
                    <td style="width: 22%">
                    <div class="task-progress" style="width: 100%">
                        <div style="width: {{ chapter.progress }}%; background: {% if chapter.progress == 100 %}limegreen{% else %}var(--primary){% endif %}"></div>
                    </div>
                    <span>{{ chapter.progress }}%</span>
                    </td>
                    <td style="width: 12%; text-align: center;">{{chapter.time}}</td>
                    <td style="width: 12%; text-align: center;">{{chapter.delays}}</td>
                    <td style="width: 16%; text-align: center;">{{chapter.attempts}}</td>
                    <td style="width: 16%; text-align: center;">{{chapter.problem_time}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
        <div class="card" style="height: calc(55% - 1rem)">
            <h3 style="margin-bottom: 0">{% blocktrans %}Chapters{% endblocktrans %}</h3>
            <span style="margin-bottom: 1rem; display: inline-block;">{% blocktrans %}média de tentativas e tempo para acertar um problema{% endblocktrans %}</span>
            {{chapters_plot|safe}}
        </div>
    </div>
    <div class="col-5" style="margin-left: 1rem; height: 100%">
        <div class="card" style=" height: 100%; position: relative;">
            <h3 style="margin-bottom: 0">{% blocktrans %}Time{% endblocktrans %}</h3>
            <span style="margin-bottom: 1rem; display: inline-block;">{% blocktrans %}to end a chapter{% endblocktrans %}</span>
            <div style="position: absolute; top: 5rem; left: 1rem; width: calc(100% - 2.5rem)">{{heatmap_plot|safe}}</div>
            <div style="position: absolute; top: 5rem; left: 1rem; width: calc(100% - 2.5rem)">{{heatmap2_plot|safe}}</div>
        </div>
    </div>
</div>
<div class="col-12" style="display: flex; padding: 1rem; height: 30rem">
    <div class="col-6" style="margin-right: 1rem; height: 100%">
        <div class="card" style=" height: 100%">
            <h3 style="margin-bottom: 0.5rem">{% blocktrans %}Students{% endblocktrans %}</h3>
                <table style="margin-right: 1rem; display: block;">
                <tr class="row" style="border: none; font-size: 13px; font-weight: 300; background: #EBECEF">
                    <td style="width: 22%; padding: 0.3rem 1rem">{% blocktrans %}Student{% endblocktrans %}</td>
                    <td style="width: 22%; padding: 0.3rem 1rem">{% blocktrans %}Progresso{% endblocktrans %}</td>
                    <td style="width: 12%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Tempo{% endblocktrans %}</td>
                    <td style="width: 12%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Atrasos{% endblocktrans %}</td>
                    <td style="width: 16%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Tentativas (problemas){% endblocktrans %}</td>
                    <td style="width: 16%; padding: 0.3rem 1rem; text-align: center;">{% blocktrans %}Tempo (problemas){% endblocktrans %}</td>
                </tr>
            </table>
            <div style="max-height: 20rem; overflow: auto;">
                <table>
                {% for student in students_table %}
                <tr class="row">
                    <td style="width: 22%">{{student.student}}</td>
                    <td style="width: 22%">
                    <div class="task-progress" style="width: 100%">
                        <div style="width: {{ student.progress }}%; background: {% if student.progress == 100 %}limegreen{% else %}var(--primary){% endif %}"></div>
                    </div>
                    <span>{{ student.progress }}%</span>
                    </td>
                    <td style="width: 12%; text-align: center;">{{student.time}}</td>
                    <td style="width: 12%; text-align: center;">{{student.delays}}</td>
                    <td style="width: 16%; text-align: center;">{{student.attempts}}</td>
                    <td style="width: 16%; text-align: center;">{{student.problem_time}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
    <div class="col-6" style="margin-left: 1rem; height: 100%">
        <div class="card" style=" height: 100%">
            <h3 style="margin-bottom: 0">{% blocktrans %}Students{% endblocktrans %}</h3>
            <span style="margin-bottom: 1rem; display: inline-block;">{% blocktrans %}desempenho resolvendo problemas{% endblocktrans %}</span>
            {{students_plot|safe}}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">


    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Class Dashboard',
                'name': '{{onlineclass.name}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    
</script>
{% endblock %}
