{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="classes" style="display: block;">
    <div style="display: flex; flex-wrap: wrap;">
    {% for class in classes %}
    <div class="card class" style="width: calc(50% - 2rem); margin-left: 2rem; height: 11rem;">
        <h3 style="margin-bottom: 0.5rem">{{class.name}}</h3>
        <span class="class_code">{{class.class_code}}</span><br>
        {% blocktrans %}Students{% endblocktrans %}: {{class.students}}<br>{% blocktrans %}Chapters{% endblocktrans %}: {{class.chapters}}<br>{% blocktrans %}Start date{% endblocktrans %}: {{class.start_date}}
        <a href="{% url 'show_class' onlineclass=class.id %}"><button class="primary class_btn">{% blocktrans %}Manage class{% endblocktrans %}</button></a>
        {% if class.active %}
        <span class="badge success">{% blocktrans %}Active{% endblocktrans %}</span>
        {% else %}
        <span class="badge danger">{% blocktrans %}Inactive{% endblocktrans %}</span>
        {% endif %}
    </div>
    {% endfor %}
	<div class="card" style="width: calc(50% - 2rem); margin-left: 2rem; height: 11rem;">
		<h3>{% blocktrans %}New class{% endblocktrans %}</h3>
        <form method="POST" action="{% url 'classes' %}" class="edit-profile">
            {% csrf_token %}
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error|escape }}</span><br>
            {% endfor %}
            <input type="text" name="name" placeholder="{% blocktrans %}Class name{% endblocktrans %}" value="{{form.name.value|default_if_none:''}}"></input>
            <button type="submit" class="primary" >{% blocktrans %}Create{% endblocktrans %}</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}
