{% extends "questions/base.html" %}
{% load i18n %}

{% block content %}
<h3>{% blocktrans %}TERMS AND CONDITIONS{% endblocktrans %}</h3>
<div>
    {% blocktrans %}Last updated: August 29, 2020{% endblocktrans %}
    <h4>{% trans 'PRIVACY' %}</h4>
    <ul>
        <li>
           {%blocktrans %}
            We have established a Privacy Policy, which is considered
            part of our Terms of Service. Please read the Privacy Policy to
            understand our commitment to the privacy of our users.  
            {% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}
            By registering, the user agrees that all the data
            provided to the website may be used as anonymous data research
            intended to enhance the Machine Teaching Platform as well as the
            quality of learning and related sciences worldwide.
            {% endblocktrans %}
        </li>
    </ul>
    <h4>{% trans 'YOUR ACCOUNT' %}</h4>
    <ul>
        <li>
            {% blocktrans %}
            When and if you register with the Site, you agree to (a) provide
            accurate, current and complete information about yourself as
            prompted by our registration form (including your email address),
            (b) allow the Machine Teaching Platform to conduct A/B testing
            using information gathered from the actions that you take with your
            account, and maintain and update your information (including
            your email address) to keep it accurate, current and complete. You
            acknowledge that, if any information provided by you is untrue,
            inaccurate, not current or incomplete, we reserve the right to
            terminate this Agreement and your access to the Site. As part of
            the registration process, you will be asked to select a username
            and password. We may refuse to grant you a username that
            impersonates someone else, is or may be illegal, is or may be
            protected by trademark or other proprietary rights law, is vulgar
            or otherwise offensive, or may cause confusion, as determined by us
            in our sole discretion. You will be responsible for the
            confidentiality and use of your username and password and agree not
            to transfer or resell your use of or access to the Site to any
            third party. If you have reason to believe that your account with
            us is no longer secure, you must promptly change your password. YOU
            ARE ENTIRELY RESPONSIBLE FOR MAINTAINING THE CONFIDENTIALITY OF
            YOUR USERNAME AND PASSWORD AND FOR ANY AND ALL ACTIVITIES THAT ARE
            CONDUCTED THROUGH YOUR ACCOUNT.  
            {% endblocktrans%}
        </li>
    </ul>
    <h4>{% trans 'DISCLAIMERS' %}</h4>
    <ul>
        <li>
           {%blocktrans %}
           The Machine Teaching developers have worked hard to develop services
           and materials on this Site that assist students, educators, parents,
           and guardians in the
           learning process. Nonetheless, THE SITE, THE MATERIALS ON THE SITE,
           AND ANY PRODUCT OR SERVICE OBTAINED THROUGH THE SITE ARE PROVIDED
           "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
           IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF TITLE,
           NON-INFRINGEMENT, ACCURACY, MERCHANTABILITY, AND FITNESS FOR A
           PARTICULAR PURPOSE, AND ANY WARRANTIES THAT MAY ARISE FROM COURSE OF
           DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE. Specifically and
           without limitation, THE PLATFORM AND ITS AFFILIATES, LICENSORS, SUPPLIERS,
           SPONSORS AND AGENTS DO NOT WARRANT THE SERVICES ON THIS SITE WILL BE
           UNINTERRUPTED, SECURE, OR ERROR-FREE; THAT THE SITE IS FREE OF
           VIRUSES OR OTHER HARMFUL COMPONENTS; THAT THE CONTENT ON THE SITE IS
           ENTIRELY CORRECT, ACCURATE, UP-TO-DATE, OR RELIABLE; THAT DEFECTS
           WILL BE CORRECTED, OR THAT THE SITE, THE SERVER(S) ON WHICH THE SITE
           IS HOSTED OR SOFTWARE ARE FREE OF VIRUSES OR OTHER HARMFUL
           COMPONENTS. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH
           THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND
           THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER
           SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH
           MATERIAL. YOUR USE OF THE SITE AND ANY MATERIALS PROVIDED THROUGH
           THE SITE IS ENTIRELY AT YOUR OWN RISK.
           {% endblocktrans %}
        </li>
    <h4>{% trans 'CONTACT INFORMATION' %}</h4>
    <ul>
        <li>
           {% blocktrans %}If you have any questions or concerns about this {% endblocktrans %}
           {% blocktrans %}Terms and Conditions{% endblocktrans %},
           {% blocktrans %}please contact us at: {% endblocktrans %}
           laura.moraes@coppe.ufrj.br.       
        </li>
    </ul>
</div>
{% endblock %}

{% block footer %}
fixed-bottom
{% endblock %}
