{% extends "questions/base.html" %}
{% block content %}
{% load i18n %}

<h2>{% trans "Terms and conditions" %}</h2>
<div>
    <ul class="terms">
        <li>
        {% trans "By signing up, the user agrees that all the data provided to the website may be used as anonymous data in this research. Your professor may also choose to share related information that they might find useful to the research, such as exams and assignments grades." %}
        </li>
        <li>{% trans "The information we collect is not shared or sold to other organizations for commercial purposes." %}
        </li>
    </ul>
</div>
{% endblock %}

{% block footer %}
fixed-bottom
{% endblock %}
