{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="col col-4" style="margin: 0 auto;">
	<div class="card">
		<h3>{% blocktrans %}Change class{% endblocktrans %}</h3>
        <form method="POST" action="{% url 'edit_profile' %}" class="edit-profile">
        <span>
            {% csrf_token %}
            {% for error in form.class_code.errors %}
            <span style="color: red;">{{ error|escape }}</span><br>
            {% endfor %}
            <input type="text" name="{{ form.class_code.name }}" placeholder="{% blocktrans %}Class code{% endblocktrans %}" value="{{form.class_code.value|default_if_none:''}}"></input><br>
            <button type="submit" class="primary" >{% blocktrans %}Change{% endblocktrans %}</button>
        </form>
    </div>
</div>
{% endblock %}
