{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

		<div class="col col-3">
            <div class="card" style="height: 14rem">
	        	<h3 style="margin-bottom: 0">{% blocktrans %}Total progress{% endblocktrans %}</h3>
                {% blocktrans %}in all problems{% endblocktrans %}
		        <div class="progress-bar" style="width: 100%; height: 0.7rem; margin-top: 1rem">
                    <div class="p" style="width: {{progress.0}}%"></div>
                    <div class="s" style="width: {{progress.1}}%"></div>
                    <div class="f" style="width: {{progress.2}}%"></div>     
                </div>
                <div style="font-size: 45px; text-align: right;">
                    {{progress.3}}%
                </div>
                <div class="next_btn" style="text-align: center; font-size: 0.9rem; padding: 0.5rem;">
                    {% if next_problem %}
                    {% blocktrans %}Next problem{% endblocktrans %}: <a href="{% url 'show_problem' problem_id=next_problem.id %}"><span class="link">{{next_problem.title}}</span></a>
                    {% else %}
                      <span>{% blocktrans %}All problems have been finalized{% endblocktrans %}</span>
                    {% endif %}       
                </div>
	        </div>
            <div class="card" style="height: 14rem">
                <h3 style="margin-bottom: 1.5rem">{% blocktrans %}Main errors{% endblocktrans %}</h3>
                {% if main_errors.0 %}
                <div style="font-size: 45px; text-align: center;">{{main_errors.0.error}}</div>
                {% if main_errors.1 %}
                <div style="font-size: 30px; text-align: center;">{{main_errors.1.error}}</div>
                {% endif %}
                {% else %}
                <div style="text-align: center;">{% blocktrans %}No errors to show{% endblocktrans %}</div>
                {% endif %}
            </div>
        </div>
        <div class="col col-3">
                <div class="card" style="height: 14rem">
                    <h3 style="margin-bottom: 0.5rem">{% blocktrans %}Average time{% endblocktrans %}</h3>
                    <span>{% blocktrans %}to perform a problem{% endblocktrans %}</span><br><br>
                    {% if time is not None%}
                    <div style="font-size: 45px; text-align: center;">{{time}} min</div>
                    {% else %}
                    <div style="text-align: center;">{% blocktrans %}No problems completed{% endblocktrans %}</div>
                    {% endif %}
                </div>
                <div class="card" style="height: 14rem">
                    <h3 style="margin-bottom: 0.5rem">{% blocktrans %}Errors{% endblocktrans %}</h3>
                    <span>{% blocktrans %}before you get right a problem{% endblocktrans %}</span><br><br>
                    {% if errors %}
                    <div style="font-size: 45px; text-align: center;">{{errors}} {% blocktrans %}error(s){% endblocktrans %}</div>
                    {% else %}
                    <div style="text-align: center;">{% blocktrans %}No problems completed{% endblocktrans %}</div>
                    {% endif %}
                </div>
	    </div>

	    <div class="col col-6" style="padding-left: 2rem;">
            <div class="card" style="height: 30rem; position: relative;">
                <h3>{% blocktrans %}Current chapter{% endblocktrans %}</h3>
                {% if current_chapter %}
                  <span style="font-size: 18px; display: inline-block; margin-bottom: 1rem; margin-top: 2rem">{{current_chapter.chapter}}</span>
                <div style=" position: absolute; top: 1rem; right: 1rem; text-align: right;">
                    <span class="badge-warning">
                    {% blocktrans %}Deadline{% endblocktrans %}: {{current_chapter.deadline}}
                    </span><br>

                    <span class="badge-b">{% if chapter_time != None %}{% blocktrans %}Estimated time to finish this chapter{% endblocktrans %}: {{chapter_time}} {% blocktrans %}minutes{% endblocktrans %}{% else %}{% blocktrans %}Finished chapter{% endblocktrans %}{% endif %}</span>
                </div>
                
                  <div style="max-height: 20rem; overflow-y: auto;">
                  <table>
                    <tbody>
                    {% for item in problems %}
                    <tr class="row" id="{{ item.problem.id }}">
                      <td class="col-9" onclick="window.location='{% url 'show_problem' problem_id=item.problem.id %}';">
                         {{ item.problem.title }}
                      </td>
                      <td class="col-3" onclick="window.location='{% url 'show_problem' problem_id=item.problem.id %}';" style="text-align: right;">
                        {% if item.problem.id in passed %}
                        <span class="badge success">
                        {% blocktrans %}Passed{% endblocktrans %}
                        </span>
                        {% elif item.problem.id in failed %}
                        <span class="badge danger">
                        {% blocktrans %}Failed{% endblocktrans %}
                        </span>
                        {% elif item.problem.id in skipped %}
                        <span class="badge warning">
                        {% blocktrans %}Skipped{% endblocktrans %}
                        </span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>
                {% else %}
                <div style="text-align: center;">
                {% blocktrans %}There are still no chapters or all deadlines have expired{% endblocktrans %}
                </div>
                {% endif %}
                
            </div>
        </div>


{% endblock %}}

{% block javascript %}
<script type="text/javascript">
	
    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Home',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    
</script>
{% endblock %}
