{% extends "questions/base.html" %}
{% block content %}
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Welcome to the Machine Teaching Project!</h1>
          <p class="lead">
          </p>
          <a href="{% url 'start' %}" class="btn btn-primary btn-lg btn-start" style="color:white;">Start</a>

      <div class="row top-buffer">
        <div class="col-lg-12">
            <div class="jumbotron" style="text-align:left">
                <div> This system uses machine learning to create a transparent
                    student model. By transparent, we aim at building
                    a model that teachers and students can visualize and
                    understand which specific content a student has mastered or
                    is struggling with.
                </div> 
                <h1 class="display-4" id="guidelines-title">Guidelines:</h1>
                <div>
                    <ul>
                        <li>All the Python challenges in this system are expected to be solved using Python 3.</li>
                        <li>You <span style="color:red">CAN'T</span> come back to the problems that you skip or pass.</li>
                        <li>However, you may try the same problem as many times as you want if you fail.</li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
          <!--<ul class="list-unstyled">-->
            <!--<li>Bootstrap 4.0.0-beta</li>-->
            <!--<li>jQuery 3.2.1</li>-->
          <!--</ul>-->
        </div>
      </div>
{% endblock %}
