{% extends "questions/base.html" %}
{% block content %}
<div class="welcome-div">
    <h1 class="welcome show-first">Welcome to the</br>Machine Teahing Project</h1>
    <a href="{% url 'start' %}" class="show-second">START</a>
</div>
<div class="guidelines-div show-third">
    <div> This system uses machine learning to create a transparent
        student model. By transparent, we aim at building
        a model that teachers and students can visualize and
        understand which specific content a student has mastered or
        is struggling with.
    </div>
    <h2>Guidelines:</h2>
    <div>
        <ul>
            <li>All the Python challenges in this system are expected to be solved using Python 3.</li>
            <li>You <span style="color:red">CAN'T</span> come back to the problems that you skip or pass.</li>
            <li>However, you may try the same problem as many times as you want if you fail.</li>
        </ul>
    </div>
</div>
{% endblock %}
