{% extends "questions/base.html" %}
{% load i18n %}
{% block content %}
<div class="welcome-div">
    <h1 class="welcome show-first">{% blocktrans %}Welcome to {% endblocktrans %}</br>Machine Teaching</h1>
    <a href="{% url 'start' %}" class="show-second">{% blocktrans %}START{% endblocktrans %}</a>
    <a href="{% url 'about' %}" class="show-second">{% blocktrans %}ABOUT{% endblocktrans %}</a>
</div>
<h2 class="show-third" style="text-align:left">{% blocktrans %}Our goals:{% endblocktrans %}</h2>
<div>
    <ol>
        <div class="guidelines-div show-third">
            <li>{% blocktrans %}Improve teaching methodologies{% endblocktrans %}</li>
        </div>
        <div class="guidelines-div show-third">
            <li> {% blocktrans %}Understand students' learning processes {% endblocktrans %}</li>
        </div>
        <div class="guidelines-div show-third">
            <li>{% blocktrans %}Stimulate students to learn the Python language {% endblocktrans %}</li>
        </div>
    </ol>
</div>
{% endblock %}
