{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block header %}
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.40.0/lib/codemirror.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.40.0/theme/paraiso-dark.css' %}" />
{% endblock %}
{% block content %}


<h2>{% trans 'Add problem' %}</h2>

{% if messages %}
    {% for message in messages %}
    <div class="menssage" {% if message.tags %} id="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}

<form id="form" action="{% url 'new' %}" method="POST">
    {% csrf_token %}
    
    <div id="title">
    <input type="text" name="title" value="{{problem_form.title.value|default_if_none:""}}" placeholder="{% trans 'Title' %}" id="id_title" required></div>

    <div id="container">
    <span>
    <div class="label">{% trans 'Question type' %}</div>
    {{ solution_form.question_type }}
    </span>

    <span>
    <div class="label">{% trans 'Chapter' %}</div>
    <select name="chapter" id="chapter" required="">
        <option></option>
        {% for chapter in chapters %}
        <option value="{{ chapter.id }}">{{ chapter.label }}</option>
        {% endfor %}
    </select>
    </span>
    
    <span>
    <div class="label">{% trans  'Cluster' %}</div>
    {{ solution_form.cluster }}
    </div>
    </span>

    <div id="container2">
    <div class="label">{% trans 'Content' %}</div>
    <textarea name="content" id="id_content" required>{{problem_form.content.value|default_if_none:""}}</textarea>

    <div id="solution_code">
    <div class="label">{% trans 'Solution' %}</div>
    <div class="textarea" >
        <textarea id="code" name="solution">{{solution_form.solution.value|default_if_none:""}}</textarea>
    {% for message in solution_form.solution.errors %}
    <span style="color: red; font-weight: normal; margin:10px;">{{ message }}</span></br>
    {% endfor %}
    </div>

    <div id="container3">
    <div>
    <div class="label">{% trans 'Header' %}</div>
    <input type="text" name="header" id="id_header">
    </div>

    <div class="label">{% trans 'Tip' %}</div>
    {{ solution_form.tip }}
    </div>
    
    <div id="container4">
    <div class="label" style="margin-left: 20px">{% trans 'Test case generator' %}</div>
    <div class="textarea2">
    <textarea name="test_case_generator" class="test_case_generator" id="code2">def generate():
    num_tests = 5
    tests = []
    for i in range(num_tests):
        tests.append([random.randint(0, 10)])
    return tests</textarea>
    </div>
    </div>
    </div>

    <div id="solution_options">
    <div class="label">{% trans 'Options' %}</div>
    <div>{% trans 'Select the correct option' %}</div>
    <div class="options">
    <div id="option"><input type="radio" name="radio" class="op" id="r1"><label for="r1" onclick="setSolution('#op1')">✓</label><textarea class="op_content" name="" id="op1" onchange="writeOptions()" placeholder="{% trans 'Option' %} 1"></textarea>
    </div>
    </div>
    <a class="add" href="#"><b>+</b> {% trans 'Add Option' %}</a>
    <textarea id="options" name="options" style="display: none;"></textarea>
    </div>

    <div id="solution_text">
    <div class="label">{% trans 'Answer' %}</div>
    <div><input type="text" name="" id="text" placeholder="{% trans 'Answer' %}"></div>
    </div>

    <input type="submit" value="{% trans 'Add' %}" id="submit">
    </div>
    </div>
</form>
{% endblock %}


{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
<script src="http://www.skulpt.org/js/skulpt.min.js" type="text/javascript"></script>
<script src="http://www.skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" type="text/javascript"></script>
<script src="{% static 'vendor/codemirror-5.40.0/lib/codemirror.js' %}"></script>
<script src="{% static 'vendor/codemirror-5.40.0/mode/python/python.js' %}"></script>

<script src="{% static 'js/sculpt.js' %}"></script>
<script>

    var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
    mode: {name: "python",
        version: 2,
        singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 4,
    tabMode: "spaces",
    matchBrackets: true,
    extraKeys: { Tab: betterTab },
    theme: "paraiso-dark"
    });
    editor2.setSize('100%',185)

$(document).ready(function() {

    var wrapper = $(".options");
    var add_button = $(".add");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        x++;
        $(wrapper).append('<div id="option"><input type="radio" name="radio" class="op" id="r'+x+'"><label for="r'+x+'" onclick="setSolution(\'#op'+x+'\')">✓</label><textarea class="op_content" id="op'+x+'" onchange="writeOptions()" placeholder="{% trans 'Option' %} '+x+'"></textarea><a href="#" class="delete">Delete</a></div>');
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
        writeOptions()
    });

    $(".CodeMirror")
        .css("background-color","white")
        .css("color", "black");
    $(".CodeMirror-gutters").css("background", "white");
});


$('select[name="question_type"]').on('change', function() {
  if(this.value == "C") {
    $('#solution_code').show();
    $('#solution_options, #solution_text').hide();
    $("[name='solution']").attr("name","");
    $('#code').attr("name","solution");
  } else if(this.value == "M") {
    $('#solution_options').show();
    $('#solution_code, #solution_text').hide();
    $("[name='solution']").attr("name","");
    $('#op1').attr("name","solution");
  } else if(this.value == "T") {
    $('#solution_code, #solution_options').hide();
    $('#solution_text').show();
    $("[name='solution']").attr("name","");
    $('#text').attr("name","solution");
  } else {}
});

function writeOptions() {
    var text = $(".op_content").map(function() {
        return this.value;}).get().join('\n\n')
    $('#options').text(text);
};

function setSolution(id) {
    $("[name='solution']").attr("name","");
    $(id).attr("name","solution");
}
</script>
{% endblock %}
