{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block header %}
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.40.0/lib/codemirror.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.40.0/theme/paraiso-dark.css' %}" />
{% endblock %}
{% block content %}
<form id="id_form" action="{% url 'new' %}" method="POST">
{% csrf_token %}
<div class="col col-5">

    <!-- problem statement -->
    <div class="card">
        <div><div style="display: flex; text-align: right;">
            <div class="col-8">
               <input type="text" name="{{ problem_form.title.name }}" id="id_title" placeholder="{% blocktrans %}Title{% endblocktrans %}" value="{{problem_form.title.value|default_if_none:''}}" required>
            </div>
            <div class="col-4">
                <select id="id_question_type" name="{{ solution_form.question_type.name }}">
                    <option value="{{ solution_form.question_type.field.choices.0.0 }}">{{ solution_form.question_type.field.choices.0.1 }}</option>
                </select>
            </div></div>
            <textarea id="id_content" name="{{ problem_form.content.name }}" style="display: none;"></textarea>
            <textarea id="html" name="{{ problem_form.html.name }}" style="display: none;"></textarea>
            <div id="content">
            <div id="editor1">{{problem_form.content.value|default_if_none:""}}</div>
            </div>
        </div>
    </div>

    <div class="card">
        {% if messages %}
        {% for message in messages %}
        <div class="menssage" {% if message.tags %} id="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div style="display: flex; justify-content: space-between;">
        <div>
        <select name="{{ problem_form.chapter.name }}" id="id_chapter" required="">
            <option disabled selected>{% trans 'Chapter' %}</option>
            {% for item in problem_form.chapter.field.choices %}
            <option value="{{ item.0 }}" {% if item.0 == chapter %}selected{% endif %}>{{ item.1 }}</option>
            {% endfor %}
        </select>
        <input type="number" id="id_order" name="{{ problem_form.order.name }}" min="1" max="100" placeholder="{% trans 'Position' %}">
        </div>
        <div>
        <button class="primary">{% blocktrans %}Add problem{% endblocktrans %}</button>
        </div>
        </div>
    </div>

</div>
<div class="col col-7">

    <!-- solution -->
    <div class="card">
        <h3 style="margin-bottom: 0.5rem">{% blocktrans %}Solution{% endblocktrans %}</h3>
        {% for message in solution_form.solution.errors %}
        <span id="error">{{ message }}</span></br>
        {% endfor %}
        <textarea class="code" id="code" name="{{ solution_form.solution.name }}" autofocus="true" style="display: none;">{{solution_form.solution.value|default_if_none:""}}</textarea>
    </div>

    <div style="display: flex;">

    <div class="col-5">
    <div class="card" style="margin-right: 1rem; height: 18rem">
        <input type="text" name="{{ solution_form.header.name }}" value="{{solution_form.header.value|default_if_none:''}}" id="id_header" placeholder="{% blocktrans %}Header{% endblocktrans %}" required>
        <textarea name="{{ solution_form.tip.name }}" id="id_tip" placeholder="{% blocktrans %}Tip{% endblocktrans %}">{{solution_form.tip.value|default_if_none:''}}</textarea>
        <select id="id_cluster" name="{{ solution_form.cluster.name }}">
            <option disabled selected>{% trans 'Cluster' %}</option>
            {% for cluster in solution_form.cluster.field.choices %}
            <option value="{{ cluster.0 }}">{{ cluster.1 }}</option>
            {% endfor %}
        </select>
    </div>
    </div>

    <div class="col-7">
    <div class="card" style="margin-left: 1rem; height: 18rem">
        <h3 style="margin-bottom: 0.5rem">{% blocktrans %}Test case generator{% endblocktrans %}</h3>
        {% for message in problem_form.test_case_generator.errors %}
        <span id="error">{{ message }}</span></br>
        {% endfor %}
        <textarea class="code test-case-generator" id="code" name="{{ problem_form.test_case_generator.name }}" style="display: none;">def generate():
    num_tests = 5
    tests = []
    for i in range(num_tests):
        tests.append([random.randint(0, 10)])
    return tests</textarea>
    </div>
    </div>
    </div>

</div>
</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/image-tool.js' %}"></script>
<script>
    //quill editor
    var toolbarOptions = [['bold',
                           'italic',
                           'code', 
                           'link', 
                           'image']];
    var quill = new Quill('#editor1', {
        theme: 'snow',
        modules: {toolbar: toolbarOptions}
    });

    window.quill = quill;

    var tooltip = new CustomizableTooltip('image' , quill , {
        inputLabel: '',
        inputPlaceholer: 'Image URL' , 
        actionText: 'Insert',
        hideOnTyping: true,
        clearAfterHide: true
    });

    $('.ql-link').click(function() {
        $('.ql-snow .ql-tooltip input').attr('placeholder','http://machineteaching.tech')
    });

    $('body').click(function() {
    if (quill.hasFocus()) {
        $('#content').attr('style', 'border-color: var(--primary) !important;');} else {
        $('#content').attr('style', '');
        }
    });

    var html = '{{problem_form.html.value|default_if_none:''|safe}}';
    $(".ql-editor").html(html);

    //submitting form
    $('.primary').click(function() {
        var converter = new showdown.Converter();
        //html content to markdown
        var html = quill.container.firstChild.innerHTML;
        $('#html').html(html);
        var md = converter.makeMarkdown(html);
        $('#id_content').html(md);
        $('#id_form').submit();
    });

    //code editors
    var textareas = document.querySelectorAll(".code");
    for (var i = 0; i < textareas.length; i++) {
        var editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true
    });
    if (textareas[i].classList.contains('test-case-generator')) {
        editor.setSize('100%',200);
    } else {
        editor.setSize('100%',300);
    }
    }
    // var editor2 = CodeMirror.fromTextArea(document.getElementById("code2"), {
    // mode: {name: "python",
    //     version: 2,
    //     singleLineStringErrors: false},
    // lineNumbers: true,
    // indentUnit: 4,
    // tabMode: "spaces",
    // matchBrackets: true,
    // extraKeys: { Tab: betterTab },
    // theme: "paraiso-dark"
    // });
    // editor2.setSize('100%',145)

// $(document).ready(function() {

//     var wrapper = $(".options");
//     var add_button = $(".add");

//     var x = 1;
//     $(add_button).click(function(e) {
//         e.preventDefault();
//         x++;
//         $(wrapper).append('<div id="option"><input type="radio" name="radio" class="op" id="r'+x+'"><label for="r'+x+'" onclick="setSolution(\'#op'+x+'\')">✓</label><textarea class="op_content" id="op'+x+'" onchange="writeOptions()" placeholder="{% trans 'Option' %} '+x+'"></textarea><a href="#" class="delete">Delete</a></div>');
//     });

//     $(wrapper).on("click", ".delete", function(e) {
//         e.preventDefault();
//         $(this).parent('div').remove();
//         x--;
//         writeOptions()
//     });

//     $(".CodeMirror")
//         .css("background-color","white")
//         .css("color", "black");
//     $(".CodeMirror-gutters").css("background", "white");
// });


// $('select[name="question_type"]').on('change', function() {
//   if(this.value == "C") {
//     $('#solution_code').show();
//     $('#solution_options, #solution_text').hide();
//     $("[name='solution']").attr("name","");
//     $('#code').attr("name","solution");
//   } else if(this.value == "M") {
//     $('#solution_options').show();
//     $('#solution_code, #solution_text').hide();
//     $("[name='solution']").attr("name","");
//     $('#op1').attr("name","solution");
//   } else if(this.value == "T") {
//     $('#solution_code, #solution_options').hide();
//     $('#solution_text').show();
//     $("[name='solution']").attr("name","");
//     $('#text').attr("name","solution");
//   } else {}
// });

// function writeOptions() {
//     var text = $(".op_content").map(function() {
//         return this.value;}).get().join('\n\n')
//     $('#options').text(text);
// };

// function setSolution(id) {
//     $("[name='solution']").attr("name","");
//     $(id).attr("name","solution");
// }

// $("[value='{{problem_form.chapter.value.0}}']").attr("selected","");
</script>
{% endblock %}
