{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="col col-12">
<div class="card">
    <form action="{% url 'show_outcome' %}" method="post" class="outcomes-form">
        {% csrf_token %}
        <h3>{% blocktrans %}Search{% endblocktrans %}</h3>
        <div class="search">
            <div class="col-4">
                <h4>{% blocktrans %}Class{% endblocktrans %}</h4>
                {{ form.onlineclass }}
            </div>
            <div class="col-4">
                <h4>{% blocktrans %}Chapter{% endblocktrans %}</h4>
                {{ form.chapter }}
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="primary">{% blocktrans %}Search{% endblocktrans %}</button>
            <input type="submit" class="link" style="margin-left: 2rem; margin-right: 2rem; border: none;" formaction="{% url 'export' %}" value="{% blocktrans %}Export CSV{% endblocktrans %}">
        </div>
    </form>
</div>
{% if problems %}
<div class="card" style="overflow-x: auto; padding-bottom: 2rem">
<table id="outcomes" class="outcomes">
    <thead>
    <tr>
        <th class="searchable">{% trans 'Student' %}</th>
        <th>{% trans "Total" %}</th>
        {% for item in problems %}
        <th><a class="link" href="{% if item.question_type == "C" %}{% url 'problem_solutions' problem_id=item.id class_id=class.id %}{% else%}#{% endif %}">{{ item.title }}</a></th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% for student in outcomes %}
    <tr>
        <td> <a class="link" href={% url 'student_solutions' id=student.name.1 chapter=form.chapter.value%}>{{ student.name.0 }}</a> </td>
        <td>
            <span class="badge success">{{student.total.P}} {% trans "Passed" %}</span>
            <span class="badge danger">{{student.total.F}} {% trans "Failed" %}</span>
            <span class="badge warning">{{student.total.S}} {% trans "Skipped" %}</span>
        </td>
        {% for item in student.outcomes %}
        <td>
            {% if item.0 == "P" %}
            <span class="badge success">{% trans "Passed at" %}</span><br>
            <span class="badge success">{{item.1}}</span>
            {% elif item.0 == "F" %}
            <span class="badge danger">{% trans "Failed" %}</span>
            {% elif item.0 == "S" %}
            <span class="badge warning">{% trans "Skipped" %}</span>
            {% elif item.0 == None %}{% else %}
            {{ item }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>

    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Outcomes',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    
console.log("{{form.chapter.value}}");
$('#outcomes').DataTable({
    "columnDefs": [{
        targets: "_all",
        orderable: false
    }],
    "bInfo": false,
    "order": [[ 0, "asc" ]],
    "pageLength": 50,
    {% get_current_language as language %}
    {% if language == 'pt-br' %}
    "language": {
    "sEmptyTable": "Nenhum registro encontrado",
    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
    "sInfoPostFix": "",
    "sInfoThousands": ".",
    "sLengthMenu": "mostrar_MENU_ por página",
    "sLoadingRecords": "Carregando...",
    "sProcessing": "Processando...",
    "sZeroRecords": "Nenhum registro encontrado",
    "sSearch": "Pesquisar",
    "oPaginate": {
         "sNext": "Próximo",
        "sPrevious": "Anterior",
        "sFirst": "Primeiro",
        "sLast": "Último"
    }
}
{% endif %}
});
</script>
{% endblock %}
