{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col col-12">
  <div class="card">
    <div class="filter">
        {% blocktrans %}Filter{% endblocktrans %}
        <input id="passed" type="checkbox" name="filter" value="{% blocktrans %}Passed{% endblocktrans %}">
        <label for="passed">
            <span class="badge success">
            {% blocktrans %}Passed{% endblocktrans %}
            </span>
        </label>
        <input id="failed" type="checkbox" name="filter" value="{% blocktrans %}Failed{% endblocktrans %}">
        <label for="failed">
            <span class="badge danger">
            {% blocktrans %}Failed{% endblocktrans %}
            </span>
        </label>
        <input id="skipped" type="checkbox" name="filter" value="{% blocktrans %}Skipped{% endblocktrans %}">
        <label for="skipped">
            <span class="badge warning">
            {% blocktrans %}Skipped{% endblocktrans %}
            </span>
        </label>
            <input type="text" name="search" id="search">
    </div>
    <table id="past-problems">
    <thead>
        <th class="searchable">{% trans "Title" %}</th>
        <th>{% trans "Day" %}</th>
        <th>{% trans "Time " %}</th>
        <th class="searchable">{% trans "Status" %}</th>
        <th class="searchable">{% trans "Error (Python)" %}</th>
        <th>{% trans "Solution" %}</th>
    </thead>
    <tbody>
    {% for item in past_problems %}
    <tr>
        <td>{{ item.log.problem.title }}</td>
        <td>{{ item.log.timestamp|date:'d/m/Y'}}</td>
        <td>{{ item.log.timestamp|date:'H:i'}}</td>
        {% if item.log.outcome == 'P' %}
        <td>
            <span class="badge success">
            {% blocktrans %}Passed{% endblocktrans %}
            </span></td>
        <td></td>
        <td><a class="link" href={% url 'past_solutions' id=item.log.id %}>{% trans "See submitted solution" %}</a></td>
        {% elif item.log.outcome == 'F' %}
        <td>
            <span class="badge danger">
            {% blocktrans %}Failed{% endblocktrans %}
            </span></td>
        <td>{{ item.error.0.0 }}</td>
        <td><a class="link" href="{% url 'past_solutions' id=item.log.id %}">{% trans "See submitted solution" %}</a></td>
        {% else %}
        <td>
            <span class="badge warning">
            {% blocktrans %}Skipped{% endblocktrans %}
            </span></td>
        <td></td>
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
//table settings
var table = $('#past-problems').DataTable({
    "bInfo": false,
    "ordering": false,
    {% get_current_language as language %}
    {% if language == 'pt-br' %}
    "language": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "mostrar_MENU_ por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            }
        }
    {% endif %}
});

$('#past-problems_filter').hide();

$('input[type="checkbox"]').on('click', function() {
    var filter = [];
    $('.filter input:checked').each(function() {
        filter.push($(this).val());
    });
    table.search(filter.join('|'), true, false).draw();
});
</script>
{% endblock %}
