{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% load escape_doublequote %}
{% block content %}
<div class="col col-5">

    <!-- problem statement -->
    <div class="card statement" style="border-left: 4px solid {% if log.outcome == 'P' %}var(--green){% else %}var(--red){% endif %}">
        <div>
        <h3 class="col-10">{{ problem.title }}</h3>
        <div class="col-2">
            {% if log.outcome == 'P' %}
            <span class="badge success">
            {% blocktrans %}Passed{% endblocktrans %}
            </span>
            {% else %}
            <span class="badge danger">
            {% blocktrans %}Failed{% endblocktrans %}
            </span>
            {% endif %}
        </div>
        </div>
        <span id="problem_content" class="no-select">{{ problem.content|linebreaks }}</span>
    </div>

    {% if log.problem.question_type == "C" and log.test_case_hits != None %}
    <!-- test cases -->
    <div class="card">
        <h3>{% blocktrans %}Test cases{% endblocktrans %}</h3>
        <div style="display: flex; align-items: center;">
            <div style="{% if log.test_case_hits != 0 %}color: var(--green);{% endif %} font-size: 25px; margin-right: 1rem">{{ log.test_case_hits }}%</div>
            <div class="task-progress2" style="margin: 0; background: var(--red); height: 0.5rem"><div style="width: {{ log.test_case_hits }}%; background: var(--green)"></div></div>
        </div>
    </div>

    <div class="col-12" id="evaluation">
    </div>
    {% endif %}

</div>
<div class="col col-7">
{% if log.problem.question_type == "C" %}

    <!-- code -->
    <div class="card">
        <h3>{% blocktrans %}Solution{% endblocktrans %}</h3>
        <textarea class="code" id="code" name="solution" style="display: none;">{{log.solution}}</textarea>
    </div>

    <!-- output -->
    <div style="display: none;" id="output-div">
        <pre id="output"></pre>
    </div>


{% elif log.problem.question_type == "M" %}
    
    <!-- options -->
    <div class="card">
        <div class="options">
            {% for option in options %}
            <input type="radio" name="option" class="option" id="o{{ forloop.counter }}" value="{{ option }}" style="display: none;" disabled>
            <label for="o{{ forloop.counter }}" class="option-label" style="{% if option == log.solution and log.outcome == 'P' %}border-color: var(--green); color: var(--green);{% elif option == log.solution %}border-color: var(--red); color: var(--red);{% endif %}">{{option|linebreaks}}</label>
            {% endfor %}
        </div>
    </div>


{% elif log.problem.question_type == "T" %}
    <!-- text -->
    <div class="card">
        <h3>{% blocktrans %}Your answer{% endblocktrans %}</h3>
        <div style="display: flex; justify-content: space-between;">
            <input type="text" id="text" value="{{ log.solution }}" style="margin-right: 1rem; {% if log.outcome == 'P' %}border-color: var(--green); color: var(--green);{% else %}border-color: var(--red); color: var(--red);{% endif %}" disabled="">
        </div>
    </div>

{% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>

    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Solution',
                'name': '{{problem.id}} - {{problem.title}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
                console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
                console.log(request.status);
            }
        });
    });

    var textareas = document.querySelectorAll(".code");

    //code editor
    for (var i = 0; i < textareas.length; i++) {
        if (textareas[i].classList.contains('interactive')) {
            lineNumbers = false
        } else {
            lineNumbers = true
        }
        var editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: lineNumbers,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true,
            readOnly: true
    });
    editor.setSize('100%',300);
    }

    //running solution
    runit({{test_case|safe}}, '{{header}}', {{expected_results|safe}})

    
    const next = '{% blocktrans %}Next{% endblocktrans %}';
    const input = '{% blocktrans %}Input:{% endblocktrans %}';
    const expected_output = '{% blocktrans %}Expected output:{% endblocktrans %}';
    const your_output = '{% blocktrans %}Your output:{% endblocktrans %}';
    const passed_txt = '{% blocktrans %}Passed{% endblocktrans %}';
    const failed_txt = '{% blocktrans %}Failed{% endblocktrans %}';

    
    // Load markdown
    var converter = new showdown.Converter({'simplifiedAutoLink': true}),
        text      = `{{problem.content}}`,
        html      = converter.makeHtml(text);
    $("#problem_content").html(html);
    console.log($("#problem_content").html())
</script>
{% endblock %}
