{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col col-5">

    <!-- problem statement -->
    <div class="card statement" style="border-left: 4px solid {% if log.outcome == 'P' %}var(--green){% else %}var(--red){% endif %}">
        <div>
        <h3 class="col-10">{{ problem.title }}</h3>
        <div class="col-2">
            {% if log.outcome == 'P' %}
            <span class="badge success">
            {% blocktrans %}Passed{% endblocktrans %}
            </span>
            {% else %}
            <span class="badge danger">
            {% blocktrans %}Failed{% endblocktrans %}
            </span>
            {% endif %}
        </div>
        </div>
        <span id="problem_content" class="no-select">{{ problem.content|linebreaks }}</span>
    </div>

</div>
<div class="col col-7">
{% if log.problem.question_type == "C" %}

    <!-- code -->
    <div class="card">
        <h3>{% blocktrans %}Solution{% endblocktrans %}</h3>
        <textarea class="code" id="code" name="solution" style="display: none;">{{log.solution}}</textarea>
    </div>

</div>

{% elif log.problem.question_type == "M" %}
<!-- Multiple choice -->
<div class="multiple-c"style="padding-top: 70px;">
    <form>
        {% for item in options %}
        <div class="option">
            <input type="radio" id="{{item}}" disabled {% if item == log.solution %} checked {% endif %}>
            <label for="{{item}}">
                <span class="checkmark"></span>
                <span class="item">{{item|linebreaks}}</span>
                <div class="result" id="result_{{item}}">
                	{% if item == log.solution %}{% if item == solution %}
                	<div class="correct">✓</div>
                	{% else %}
                	<div class="wrong">X</div> 
                	{% endif %}{% endif %}
                </div>
            </label>
        </div>
        {% endfor %}
    </form>
</div>


{% elif log.problem.question_type == "T" %}
<!-- Textbox -->
<div class="textbox" style="padding: 20px;">
    <form onkeydown="return event.key != 'Enter';">
            <input id="ans" id="text" value="{{log.solution}}" disabled style="margin: 0;">
            <div id="result">
            	{% if log.outcome == "P" %}
                <span class="correct" style="margin-bottom: 20px; margin-top: 20px;">✓</span>
                {% else %}
                <div class="wrong" style="margin-bottom: 20px; margin-top: 20px;">X</div> 
                {% endif %}
            </div>
    </form>
</div>

{% endif %}
{% endblock %}
{% block javascript %}
<script>
    var textareas = document.querySelectorAll(".code");

    //code editor
    for (var i = 0; i < textareas.length; i++) {
        if (textareas[i].classList.contains('interactive')) {
            lineNumbers = false
        } else {
            lineNumbers = true
        }
        var editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: lineNumbers,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true,
            readOnly: true
    });
    editor.setSize('100%',300);
    }

    
    // Load markdown
    var converter = new showdown.Converter({'simplifiedAutoLink': true}),
        text      = `{{problem.content}}`,
        html      = converter.makeHtml(text);
    $("#problem_content").html(html);
    console.log($("#problem_content").html())
</script>
{% endblock %}
