{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% load escape_doublequote %}
{% block content %}
<div class="col col-5">

    <!-- problem statement -->
    <div class="card statement" style="border-left: 4px solid {% if log.outcome == 'P' %}var(--green){% else %}var(--red){% endif %}">
        <div>
        <h3 class="col-10">{{ problem.title }}</h3>
        <div class="col-2">
            {% if log.outcome == 'P' %}
            <span class="badge success">
            {% blocktrans %}Passed{% endblocktrans %}
            </span>
            {% else %}
            <span class="badge danger">
            {% blocktrans %}Failed{% endblocktrans %}
            </span>
            {% endif %}
        </div>
        </div>
        <span id="problem_content" class="no-select">{{ problem.content|linebreaks }}</span>
    </div>

    {% if log.problem.question_type == "C" and log.test_case_hits != None %}
    <!-- test cases -->
    <div onClick="showTestCase()" class="card">
        <h3>{% blocktrans %}Test cases{% endblocktrans %}</h3>
        <div style="display: flex; align-items: center;">
            <div class="div_loading_test_cases" style="font-size: 25px; margin-right: 1rem">Loading...</div>
            <div style="{% if log.test_case_hits != 0 %}color: var(--green);{% endif %} font-size: 25px; margin-right: 1rem">{{ log.test_case_hits }}%</div>
            <div class="task-progress2" style="margin: 0; background: var(--red); height: 0.5rem"><div style="width: {{ log.test_case_hits }}%; background: var(--green)"></div></div>
        </div>
    </div>

    <div class="col-12" id="evaluation">
    </div>

    
    {% endif %}

    {% if log.problem.question_type == "C" and log.test_case_hits != None and perms.questions.view_userlogview %}
    <div onClick="showHiddenTestCase()" class="card">
        <h3>{% blocktrans %}Hidden test cases{% endblocktrans %}</h3>
        <div style="display: flex; align-items: center;">
            <div id='hidden-test-span' style="font-size: 25px; margin-right: 1rem">Loading...</div>
            <div class="task-progress2" style="margin: 0; background: var(--red); height: 0.5rem"><div id='hidden-test-bar' style="width: 50%; background: var(--green)"></div></div>
        </div>
    </div>

    <div class="col-12" id="hidden_eval">
    </div>
    {% endif %}

</div>
<div class="col col-7">
{% if log.problem.question_type == "C" %}

    <!-- code -->
    <div class="card">
        <div class="solutionLang" style="display: flex; justify-content: space-between; align-items: center;">
            <h3>{% blocktrans %}Solution{% endblocktrans %}</h3>
            <h3>Language: {{log.language}}</h3>
        </div>
        <textarea class="code" id="code" name="solution" style="display: none;" lang="{{log.language}}">{{log.solution}}</textarea>
    </div>

    <!-- output -->
    <div style="display: none;" id="output-div">
        <pre id="output"></pre>
    </div>

    
    <div style="display: none" id="hidden-output-div">
        <pre id="hidden-output"></pre>
    </div>



{% elif log.problem.question_type == "M" %}
    
    <!-- options -->
    <div class="card">
        <div class="options">
            {% for option in options %}
            <input type="radio" name="option" class="option" id="o{{ forloop.counter }}" value="{{ option }}" style="display: none;" disabled>
            <label for="o{{ forloop.counter }}" class="option-label" style="{% if option == log.solution and log.outcome == 'P' %}border-color: var(--green); color: var(--green);{% elif option == log.solution %}border-color: var(--red); color: var(--red);{% endif %}">{{option|linebreaks}}</label>
            {% endfor %}
        </div>
    </div>


{% elif log.problem.question_type == "T" %}
    <!-- text -->
    <div class="card">
        <h3>{% blocktrans %}Your answer{% endblocktrans %}</h3>
        <div style="display: flex; justify-content: space-between;">
            <input type="text" id="text" value="{{ log.solution }}" style="margin-right: 1rem; {% if log.outcome == 'P' %}border-color: var(--green); color: var(--green);{% else %}border-color: var(--red); color: var(--red);{% endif %}" disabled="">
        </div>
    </div>

{% endif %}
{% if comments and not perms.questions.view_userlogview %}
<div class="card">
    <h3>{% blocktrans %}Comments{% endblocktrans %}</h3>
    <div>
        {% for comment in comments %}
        <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
        <p>{{ comment.content }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if perms.questions.view_userlogview %}
<div class="card">
    <h3>{% blocktrans %}Comments{% endblocktrans %}</h3>
    <div>
        {% for comment in comments %}
        <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
        <p>{{ comment.content }}</p>
        {% endfor %}

        <a class="link add_comment" onclick="newComment()">{% blocktrans %}Add comment{% endblocktrans %}</a>
        <form action="{% url 'past_solutions' id=log.id %}" method="POST">
        {% csrf_token %}
        <div style="text-align: center; display: none;" class="comment">
            <textarea name="{{ form.content.name }}" style="width: 100%; height: 10rem; margin-bottom: 1rem;"></textarea>
            <button type="submit" class="primary">{% blocktrans %}Add comment{% endblocktrans %}</button>
        </div>
        </form>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script>

    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Solution',
                'name': '{{log.id}} - {{log.user.username}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
                console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
                console.log(request.status);
            }
        });
    });

    var textareas = document.querySelectorAll(".code");

    //code editor
    for (var i = 0; i < textareas.length; i++) {
        if (textareas[i].classList.contains('interactive')) {
            lineNumbers = false
        } else {
            lineNumbers = true
        }
        var editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: lineNumbers,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true,
            readOnly: true
        });
        if(textareas[i].lang == "C")
            editor.setOption('mode', { name: "text/x-csrc" });
        else if(textareas[i].lang == "Julia")
            editor.setOption('mode', { name: "julia" });
        editor.setSize('100%',300);
    }

    //running solution
    //runit({{test_case|safe}}, '{{header}}', {{expected_results|safe}})
    runit({{test_case|safe}}, '{{header}}', '{{log.language}}');

    const next = '{% blocktrans %}Next{% endblocktrans %}';
    const input = '{% blocktrans %}Input:{% endblocktrans %}';
    const expected_output = '{% blocktrans %}Expected output:{% endblocktrans %}';
    const your_output = '{% blocktrans %}Your output:{% endblocktrans %}';
    const passed_txt = '{% blocktrans %}Passed{% endblocktrans %}';
    const failed_txt = '{% blocktrans %}Failed{% endblocktrans %}';
    const error = '{% blocktrans %}Error{% endblocktrans %}';
    const print_error = '{% blocktrans %}The solution uses <strong>print</strong> command, breaking the rule that the entire result of the function must be returned exclusively through its return values.{% endblocktrans %}';

    const dictSolutions = {{ solutions|safe }};
    var worker_node_host = "{{ worker_node_host }}";
    var worker_node_port = "{{ worker_node_port }}";
    
    // Load markdown
    var converter = new showdown.Converter({'simplifiedAutoLink': true}),
        text      = `{{problem.content}}`,
        html      = converter.makeHtml(text);
    $("#problem_content").html(html);
    console.log($("#problem_content").html())

    function newComment() {
        $('.add_comment').hide();
        $('.comment').show();
    };
    
    const showTestCase = () => {
    const evaluation = document.getElementById('evaluation');
    if(evaluation.style.cssText === 'display: none;'){
        evaluation.style.cssText = 'display: flex; flex-direction: column;';
    } else {
        evaluation.style.cssText = 'display: none;';
    }
}

</script>

{% if perms.questions.view_userlogview %}
<script src="../../static/js/hidden.js"></script>
<script>
    //runhiddentests({{test_case|safe}}, '{{header}}', {{expected_results|safe}})
</script>
{% endif %}

{% endblock %}
