{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as language %}
{% block content %}
<div class="col col-12">
  <div class="card">

    <div class="filter">
        <select id="filter-dropdown" name="filter">
            <option value="">{% blocktrans %}Status{% endblocktrans %}</option>
            <option value="{% blocktrans %}Passed{% endblocktrans %}">{% blocktrans %}Passed{% endblocktrans %}</option>
            <option value="{% blocktrans %}Failed{% endblocktrans %}">{% blocktrans %}Failed{% endblocktrans %}</option>
            <option value="{% blocktrans %}Skipped{% endblocktrans %}">{% blocktrans %}Skipped{% endblocktrans %}</option>
        </select>

        <select id="filter-classes" name="filter">
            <option value="">{% blocktrans %}Classes{% endblocktrans %}</option>
            {% for chapter in available_chapters %}
                <option value="{{ chapter }}">{{ chapter }}</option>
            {% endfor %}
        </select>
    </div>  

    <!-- <table id="past-problems">
    <thead>
        <th class="searchable">{% trans "Title" %}</th>
        <th>{% trans "Chapter" %}</th>
        <th>{% trans "Status " %}</th>
        <th class="searchable">{% trans "Comments" %}</th>
        <th>{% trans "Attempts" %}</th>
        <th>{% trans "Last submission" %}</th>
        <th>{% trans "Solutions" %}</th>
    </the vb >
    <tbody> -->

    <table id="past-problems" class="display">
        <thead>
            <th class="searchable">{% trans "Title" %}</th>
            <th>{% trans "Chapter" %}</th>
            <th>{% trans "Status " %}</th>
            <th class="searchable">{% trans "Comments" %}</th>
            <th>{% trans "Attempts" %}</th>
            <th>{% trans "Last submission" %}</th>
            <th>{% trans "Solutions" %}</th>
        </thead>
        <tbody>
            
    {% for item in problems %}
    <tr>
        <td style="width: 23%"><a href="{% url 'show_problem' problem_id=item.problem.id %}" class="link">{{ item.problem.title }}</a></td>
        <td style="width: 23%">{{item.chapter.label}}</td>
        {% if item.outcome == 'P' %}
        <td style="width: 8%">
            <span class="badge success">
            {% blocktrans %}Passed{% endblocktrans %}
            </span>
        </td>
        {% elif item.outcome == 'F' %}
        <td style="width: 8%">
            <span class="badge danger">
            {% blocktrans %}Failed{% endblocktrans %}
            </span>
        </td>
        {% elif item.outcome == 'S' %}
        <td style="width: 8%">
            <span class="badge warning">
            {% blocktrans %}Skipped{% endblocktrans %}
            </span>
        </td>
        {% endif %}
        <td style="width: 8%">{{item.comments}}</td>
        <td style="width: 8%">{{item.attempts}}</td>
        <td style="width: 12%" data-order="{{ item.last_submission|date:'Y-m-d H:i:s' }}">
            {% if language == 'pt-br' %}
                {{ item.last_submission|date:'d/m/Y'}} às {{ item.last_submission|date:'H:i' }}
            {% else %}
                {{ item.last_submission|date:'m/d/Y'}} at {{ item.last_submission|date:'H:i' }}
            {% endif %}
        </td>        <td style="width: 18%"><a href="{% url 'problem_solutions' problem_id=item.problem.id %}" class="link">
            {% blocktrans %}See submitted solutions{% endblocktrans %}
        </a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">


    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Past problems',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    

//table settings
// var table = $('#past-problems').DataTable({
//     "bInfo": false,
//     "ordering": false,
//     {% get_current_language as language %}
//     {% if language == 'pt-br' %}
//     "language": {
//             "sEmptyTable": "Nenhum registro encontrado",
//             "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
//             "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
//             "sInfoFiltered": "(Filtrados de _MAX_ registros)",
//             "sInfoPostFix": "",
//             "sInfoThousands": ".",
//             "sLengthMenu": "mostrar_MENU_ por página",
//             "sLoadingRecords": "Carregando...",
//             "sProcessing": "Processando...",
//             "sZeroRecords": "Nenhum registro encontrado",
//             "sSearch": "Pesquisar",
//             "oPaginate": {
//                 "sNext": "Próximo",
//                 "sPrevious": "Anterior",
//                 "sFirst": "Primeiro",
//                 "sLast": "Último"
//             }
//         }
//     {% endif %}
// });

// Table settings
var table = $('#past-problems').DataTable({
    "bInfo": false,
    "columnDefs": [
        {
            "targets": 5,  // Index da coluna de data
            "type": "datetime"
        }
    ],
    {% get_current_language as language %}
    {% if language == 'pt-br' %}
    "language": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "mostrar_MENU_ por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            }
        }
    {% endif %}
});


$('#past-problems_filter input').attr('placeholder','{% blocktrans %}Search{% endblocktrans%}');
document.querySelector('#past-problems_filter input').style.display = 'none';


$('input[type="checkbox"]').on('click', function() {
    var filter = [];
    $('.filter input:checked').each(function() {
        filter.push($(this).val());
    });
    table.search(filter.join('|'), true, false).draw();
});

$('#filter-dropdown').on('change', function() {
        var filter = $(this).val();
        table.search(filter).draw();
    });

$('#filter-classes').on('change', function() {
    var filter = $(this).val();
    table.search(filter).draw();
});

$('#filter-dropdown').on('change', function() {
    $('#filter-classes').prop('selectedIndex', 0); 
});

$('#filter-classes').on('change', function() {
    $('#filter-dropdown').prop('selectedIndex', 0); 
});
</script>
{% endblock %}
