{% extends "questions/base.html" %}
{% load i18n %}

{% block content %}
<h3>{% blocktrans %}PRIVACY POLICY{% endblocktrans %}</h3>
<div>
    {% blocktrans %}Last updated: August 29, 2020{% endblocktrans %}
    <h4>COMMERCIAL USE </h4>
    <ul>
        <li>
           {%blocktrans %}
           Machine Teaching will never use our Platform for commercial use. We
           will never advertise on our site.  Additionally, we will never sell
           personally identifiable or non-personally identifiable information
           to third parties.  
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %}
            If you wish to become a Registered User (Student User or Teacher
            User) of the Platform, you must provide us with certain information
            as part of the registration process. In this Privacy Policy, when
            we use the term "Personally Identifiable Information", we mean any
            information that can be used to identify or contact a specific
            individual. We use Personally Identifiable Information to process
            requests made through this Site and Platform, such as registration
            requests. The user name that is assigned to you during the
            registration process will identify you on the Platform in
            conjunction with content that you submit to the Platform, and this
            information may be viewed by Users. All passwords are salted before
            being stored, so we are not aware of the passwords of any users.
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
           Personally Identifiable Information and other data that you
           furnished through the Platform may remain in our records even if you
           are no longer a User and can be used by us in accordance with this
           Privacy Policy.  
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
           We may collect certain information automatically when you visit the
           Platform or Site, such as the browser you are using, the Internet
           address from which you linked to the Platform or Site, the operating
           system of your computer, the unique IP address of the computer you
           used to access the Platform or Site and usage and browsing habits.
           We use this information to administer and improve your experience on
           the Platform and Site, to help diagnose and troubleshoot potential
           server malfunctions, and to gather broad demographic information. If
           a Student User enters a class code provided by a Teacher User, then
           the Teacher User may view information about that student.  
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
            To help make sure you receive information that is relevant to you,
            the Platform uses data "cookies." These cookies are small data
            files stored on your computer that identify you as a previous
            visitor to the Platform and help us to personalize your experience
            when you arrive. Most web browsers are set to accept cookies. You
            can instruct your browser not to accept cookies. However, if you
            disable this function, you will not be able to use some of the
            features on the Platform.
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
           We work with third parties who provide services such as data
           analysis (for example we may use Google Analytics), infrastructure
           provision (for example we use Microsoft Azure), IT services (for
           example we may use Cloudfare to prevent denial of service attacks),
           email delivery services (for example we may use MailChimp to communicate
           with non-student stakeholders), and other similar services. We may
           share Personally Identifiable Information about account holders with
           these parties solely for the purpose of enabling them to provide
           these services. We only share with those that have privacy policies
           entirely consistent with our privacy policy.
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
           We may use Personally Identifiable Information about you for
           internal purposes, including without limitation data analysis and
           audits. If you are a Student User, your respective Teacher User may
           also choose to share related information that they might find useful
           to the research, such as exams and assignments grades taken
           offline and outside the Platform.  
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
           Notwithstanding any other provision of this Policy to the contrary,
           we reserve the right to disclose your Personally Identifiable
           Information to others as we believe to be appropriate (a) under
           applicable law; (b) to comply with legal process (c) to respond to
           governmental requests; (d) to enforce our Terms of Service; (e) to
           protect our operations; (f) to protect the rights, privacy, safety
           or property of you or others; and (g) to permit us to pursue
           available remedies or limit the damages that we may sustain. For
           example, we may, to the fullest extent the law allows, disclose
           Personally Identifiable Information about you to law enforcement
           agencies to assist them in identifying individuals who have been or
           may be engaged in unlawful activities.  
           {% endblocktrans %}
        </li>
    </ul>
    <h4>NON-PERSONALLY IDENTIFIABLE INFORMATION</h4>
    <ul>
        <li>
           {%blocktrans %} 
            Non-Personally Identifiable Information is aggregated information,
            demographic information, and other information that does not reveal
            a person’s specific identity. We may collect Non-Personally
            Identifiable Information (e.g., interests, geographic location, zip
            codes, etc.) when you voluntarily provide such information to us,
            such as through survey responses. Such information constitutes
            Non-Personally Identifiable Information because, unless combined
            with your name or other Personally Identifiable Information, it
            does not personally identify you or any other user. We retain
            aggregated student data exclusively for the educational purpose of
            improving the Machine Teaching Platform.
           {% endblocktrans %}
        </li>
        <li>
           {%blocktrans %} 
            Additionally, we may aggregate Personally Identifiable Information
            in a manner such that the end product does not personally identify
            you or any other user of the Platform or Site. For example, we
            might use Personally Identifiable Information to calculate the
            percentage of our Users who have a particular zip code. Such
            aggregate information is considered Non-Personally Identifiable
            Information for purposes of this Policy. Because Non-Personally
            Identifiable Information does not personally identify you, we may
            use or disclose such information for any purpose. Upon request,
            user names and birthdates will be removed leaving only
            ‘non-personally identifiable information”.  Student generated
            content, other than answers to test questions, will also be
            destroyed.
           {% endblocktrans %}
        </li>
    </ul>
    <h4>DATA SECURITY AND BREACH INCIDENT RESPONSE PLAN</h4>
    <ul>
        <li>
           {%blocktrans %} 
            We have implemented software and hardware security measures
            intended to protect your Personally Identifiable Information from
            unauthorized access. Although we strive to protect
            your information, we cannot ensure or warrant the security of any
            information you transmit to us through or in connection with the
            Platform. Despite our precautions, no system can completely protect
            against unauthorized access to your Personally Identifiable
            Information, and your use of the Platform indicates that you are
            willing to assume this risk. If you have reason to believe that
            your interaction with us is no longer secure, you must immediately
            notify us of the problem by contacting us.
           {% endblocktrans %}
        </li>
    </ul>
    <h4>CONTACT INFORMATION</h4>
    <ul>
        <li>
           {% blocktrans %}If you have any questions or concerns about this {% endblocktrans %}
           {% blocktrans %}Privacy Policy{% endblocktrans %},
           {% blocktrans %}please contact us at: {% endblocktrans %}
           laura.moraes@coppe.ufrj.br.       
        </li>
    </ul>
</div>
{% endblock %}

{% block footer %}
fixed-bottom
{% endblock %}
