{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col col-12">
    <div class="card">
        <h3>{{problem.title}}</h3>
        <span id="problem_content" class="no-select">{{ problem.content|linebreaks }}</span>
    </div>
    {% for solution in solutions %}
    <div style="width: 100%; height: 30rem; padding-bottom: 2rem; display: flex;">
        <div class="card problem_solution">
            <span>{{ solution.log.timestamp }}</span>
            <span style="margin-left: 2em;">Lang: {{solution.log.language}}</span>
            {% if solution.log.outcome == "P" %}
            <span class="badge success">{% trans "Passed" %}</span>
            {% elif solution.log.outcome == "F" %}
            <span class="badge danger">{% trans "Failed" %}</span>
            {% elif solution.log.outcome == "S" %}
            <span class="badge warning">{% trans "Skipped" %}</span>
            {% endif %}
            <div style="width: 100%; margin-top: 1rem; text-align: center; margin-bottom: 1rem;">
                <div>{% blocktrans %}Test cases{% endblocktrans %}</div>
                <div style="display: flex;">{% if solution.log.test_case_hits != None %}{{ solution.log.test_case_hits }}%{% endif %}
                <div class="task-progress2" style="{% if solution.log.test_case_hits != None %}background: var(--red);{% endif %} width: calc(100% - 5rem); height: 0.5rem; margin-left: 1rem; margin: auto;">
                    <div style="width: {{ solution.log.test_case_hits }}%; background: var(--green);"></div></div>
                </div>
            </div>
            <textarea class="code" id="code" name="solution" style="display: none;" lang="{{solution.log.language}}">{{solution.log.solution}}</textarea>
        </div>
        {% if solution.comments %}
        <div style="width: 50%; height: 100%">
        <div class="card" style="margin-bottom: 0; max-width: 100%; max-height: 100%">   
            <h3>{% blocktrans %}Comments{% endblocktrans %}</h3>
            <div style=" overflow: auto; max-height: 23rem;">
                {% for comment in solution.comments %}
                <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
                <p>{{ comment.content }}</p>
                {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">

    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Problem solutions',
                'name': '{{user.username}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });

    var textareas = document.querySelectorAll(".code");

    //code editor
    for (var i = 0; i < textareas.length; i++) {
        if (textareas[i].classList.contains('interactive')) {
            lineNumbers = false
        } else {
            lineNumbers = true
        }
        var editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: lineNumbers,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true,
            readOnly: true
        });
        if(textareas[i].lang == "C")
            editor.setOption('mode', { name: "text/x-csrc" });
        else if(textareas[i].lang == "Julia")
            editor.setOption('mode', { name: "julia" });
        editor.setSize('100%',300);
    }
</script>
{% endblock %}
