{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="col col-6">
    <div class="card">
        <h3>{% blocktrans %}Chapters{% endblocktrans %}</h3>
        <table>
            <tr>
                <td style="padding-left: 1rem; font-weight: 400; width: 50%">{% blocktrans %}Chapter{% endblocktrans %}</td>
                <td style="font-weight: 400; text-align: center;">{% blocktrans %}Deadline{% endblocktrans %}</td>
            </tr>
            {% for chapter in chapters %}
            <tr class="row" style="cursor: pointer;" onclick="window.location='{% url 'show_chapter' chapter=chapter.chapter.id %}';">
                <td>{{chapter.chapter.label}}</td>
                <td style="text-align: center;">{{chapter.deadline.deadline}}</td>
                <td style="text-align: right;"><a href="{% url 'delete_deadline' onlineclass=onlineclass.id deadline=chapter.deadline.id %}" class="link del">{% blocktrans %}Delete{% endblocktrans %}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="card">
        <h3>{% blocktrans %}Add chapter{% endblocktrans %}</h3>
        <form action="{% url 'show_class' onlineclass=onlineclass.id %}" method="POST">
            {% csrf_token %}
                {% for message in form.chapter.errors %}
                <span id="error">{{ message }}</span></br>
                {% endfor %}
                <select name="{{ form.chapter.name }}" id="id_chapter" required="required" style="width: 100%; margin-bottom: 1rem;">
                    {% for item in form.chapter.field.choices %}
                    <option value="{{ item.0 }}" {% if item.0 == chapter %}selected{% endif %}>{{ item.1 }}</option>
                    {% endfor %}
                </select>
                <div style="display: flex; text-align: center;">
                <div style="width: 50%">
                {% for message in form.date.errors %}
                <span id="error" style="text-align: center;">{{ message }}</span></br>
                {% endfor %}
                <input type="date" name="date" placeholder="{% blocktrans %}Date (yyyy-mm-dd){% endblocktrans %}" required style="width: calc(100%);">
                </div>
                <div style="width: 50%">
                {% for message in form.time.errors %}
                <span id="error" style="margin-left: 1rem; text-align: center;">{{ message }}</span></br>
                {% endfor %}
                <input type="text" name="time" placeholder="{% blocktrans %}Time (H:M){% endblocktrans %}" required style="width: calc(100% - 1rem); margin-left: 1rem">
                 </div></div>
            <div class="col-12" style="margin-top: 1rem; text-align: center;">
                <button class="primary" type="submit">{% blocktrans %}Add{% endblocktrans %}</button>
            </div>
        </form>
    </div>
</div>
<div class="col col-6">
    <div class="card students">
        <h3>{% blocktrans %}Students{% endblocktrans %}</h3>
        <table>
            {% for student in students %}
            <tr class="row">
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td style="width: 8rem; text-align: right;"><a class="link" href="{% url 'student_solutions' id=student.id %}">
                {% blocktrans %}Solutions{% endblocktrans %}</a></td>
                <td style="width: 8rem; text-align: right;"><a class="link" href="{% url 'student_dashboard' id=student.id %}">
                {% blocktrans %}Dashboard{% endblocktrans %}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">


    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Class',
                'name': '{{onlineclass.name}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    
</script>
{% endblock %}
