{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% load escape_doublequote %}
{% block content %}
<div class="col col-5">

    <!-- problem statement -->
    <div class="card statement">
        <div>
        <h3 class="col-10">{{ problem.title }}</h3>
        <div class="col-2">
            <a class="link" onclick="skipit()">{% blocktrans %}Skip{% endblocktrans %}</a></div>
        </div>
        <span id="problem_content"></span>
    </div>

    <div class="card result">
        <h3>{% blocktrans %}Test cases{% endblocktrans %}</h3>
        <div id="outcome">
        </div>
    </div>

    <!-- test cases -->
    <div class="col-12" id="evaluation">
    </div>

</div>
<div class="col col-7">

    {% if problem.question_type == 'C' %}
    <!-- code -->
    <div class="card">
        <textarea class="code" id="code" name="solution" autofocus="true" style="display: none;">{{tip}}</textarea>
        <div style="text-align: center;">
            <button class="primary" id="run" onclick="runit({{test_case|safe|escape_doublequote}}, '{{header}}', {{expected_results|safe|escape_doublequote}})">
            {% blocktrans %}Run{% endblocktrans %}
            </button>
            <div class="loader" style="display: none;">
                <div></div>
            </div>
        </div>
    </div>

    <!-- output -->
    <div style="display: none" id="output-div">
        <pre id="output"></pre>
    </div>

    <!-- interactive -->
    <div class="card interactive">
        <textarea class="" id="interactive" cols="85" rows="1" style="display: none;"></textarea>
    </div>

    {% elif problem.question_type == 'M' %}
    <!-- options -->
    <div class="card">
        <div class="options">
            {% for option in options %}
            <input type="radio" name="option" class="option" id="o{{ forloop.counter }}" value="{{ option }}" style="display: none;">
            <label for="o{{ forloop.counter }}" class="option-label">{{option|linebreaks}}</label>
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <button class="primary" id="answer" onclick="answer()">
            {% blocktrans %}Answer{% endblocktrans %}
            </button>
            <button class="primary" id="next" onclick="gotoproblem()" style="display: none;">
            {% blocktrans %}Next{% endblocktrans %}
            </button>
        </div>
    </div>

    {% else %}
    <!-- text input -->
    <div class="card">
        <h3>{% blocktrans %}Answer{% endblocktrans %}</h3>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <input type="text" id="text" class="col-10" style="margin-right: 1rem">
            <button class="primary col-2" id="answer" onclick="answer()">
            {% blocktrans %}Answer{% endblocktrans %}
            </button>
            <button class="primary col-2" id="next" onclick="gotoproblem()" style="display: none;">
            {% blocktrans %}Next{% endblocktrans %}
            </button>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/repl.js' %}"></script>
<script>

    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Problem',
                'name': '{{problem.id}} - {{problem.title}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
                console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
                console.log(request.status);
            }
        });
    });
    
    const next = '{% blocktrans %}Next{% endblocktrans %}';
    const input = '{% blocktrans %}Input:{% endblocktrans %}';
    const expected_output = '{% blocktrans %}Expected output:{% endblocktrans %}';
    const your_output = '{% blocktrans %}Your output:{% endblocktrans %}';
    const passed_txt = '{% blocktrans %}Passed{% endblocktrans %}';
    const failed_txt = '{% blocktrans %}Failed{% endblocktrans %}';

    const error = '{% blocktrans %}Error{% endblocktrans %}';
    const print_error = '{% blocktrans %}The solution uses <strong>print</strong> command, breaking the rule that the entire result of the function must be returned exclusively through its return values.{% endblocktrans %}';

    {% if problem.question_type == 'C' %}
    var code = document.getElementById("code");
    var interactive = document.getElementById("interactive");

    var editor = CodeMirror.fromTextArea(code, {
        mode: {name: "python",
            version: 2,
            singleLineStringErrors: false},
        lineNumbers: true,
        indentUnit: 4,
        tabMode: "spaces",
        matchBrackets: true,
        extraKeys: { "Enter": CodeMirror.commands.newlineAndIndent },
    });

    var editor2 = CodeMirror.fromTextArea(interactive, {
        mode: {name: "python",
            singleLineStringErrors: false},
        lineNumbers: false,
        indentUnit: 4,
        tabMode: "spaces",
        matchBrackets: true,
        extraKeys: { "Enter": saveInteractive },
    });

    editor.setSize('100%',300);
    editor2.setSize('100%',300);
    {% endif %}

    $('.interactive .CodeMirror').remove();

    function saveInteractive(cm) {
        $.ajax({
            type: "POST",
            url: '{% url "saveinteractive" %}',
            data: {
                'problem': {{problem.id}},
                'content': cm.getValue(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
                console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
                console.log(request.status);
            }
        });
    };
    
    //save log
    START = "{% url 'start' %}";
    var next_url = '{% url 'next' %}';
    function save_log(outcome, seconds_in_code, seconds_to_begin, seconds_in_page, hits){

        {% if problem.question_type == "M" %}{% for option in options %}
        if (document.getElementById("o{{forloop.counter}}").checked) {
            solution = "{{option}}";
        }
        {% endfor %}{% endif %}

        $.ajax({
            type: "POST",
            url: '{% url 'savelog' %}',
            data: {
                'problem': {{problem.id}},
                {% if problem.question_type == "C" %}
                'solution': editor.getValue(),
                'solution_lines': editor.lineCount(),
                'console': document.getElementById("output").innerHTML,
                'test_case_hits': hits,
                {% elif problem.question_type == "M" %}
                'solution': solution,
                'solution_lines': 0,
                {% elif problem.question_type == "T" %}
                'solution': $('#text').val(),
                'solution_lines': 0,
                {% endif %}
                'outcome': outcome,
                'seconds_in_code': seconds_in_code,
                'seconds_to_begin': seconds_to_begin,
                'seconds_in_page': seconds_in_page,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
        dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
        },
        error: function (request, status, error) {
            console.log(request.status);
        }
    });
    }

    function answer() {
        {% if problem.question_type == 'M' %}
        var solution = '{{ solution|linebreaks }}';
        var id = $('.option:checked').attr('id');
        var option = $('label[for="'+id+'"]').html();
        if (option == solution) {
            $('.option-label').attr('style','');
            $('.option-label[for="'+id+'"]').attr('style','color: var(--green); border-color: var(--green);');
            $('#answer').hide();
            $('#next').show();
            save_log('P', seconds_in_code, seconds_to_begin, seconds_in_page);
        } else {
            $('.option-label[for="'+id+'"]').attr('style','color: var(--red); border-color: var(--red);');
            save_log('F', seconds_in_code, seconds_to_begin, seconds_in_page);
        }
        {% elif  problem.question_type == 'T' %}
        var solution = '{{ solution }}';
        var answer = $('#text').val();
        if (answer == solution) {
            $('#text').attr('style','margin-right: 1rem; color: var(--green); border-color: var(--green);');
            $('#answer').hide();
            $('#next').show();
            save_log('P', seconds_in_code, seconds_to_begin, seconds_in_page);
        } else {
            $('#text').attr('style','margin-right: 1rem; color: var(--red); border-color: var(--red);');
            save_log('F', seconds_in_code, seconds_to_begin, seconds_in_page);
        }
        {% endif %}
    };

    // Load markdown
    var converter = new showdown.Converter({'simplifiedAutoLink': true}),
        text      = `{{problem.content}}`,
        html      = converter.makeHtml(text);
    $("#problem_content").html(html);
    console.log($("#problem_content").html())

    seconds_end_page = performance.now()
    seconds_in_page = Math.round((seconds_end_page - seconds_begin_page)/1000);
    console.log("seconds in page:" + seconds_in_page);
    // save_log(outcome, seconds_in_code, seconds_to_begin, seconds_in_page);

    // When user starts typing
    editor.on('keydown', function(){

        //Starting to type for the first time
        if (seconds_to_begin == 0) {
            seconds_to_begin = Math.round((performance.now() - seconds_begin_page)/1000);
            console.log("seconds to begin: " + seconds_to_begin);
        }

        // Starting code snippet
        if (first_keydown == true){
            seconds_begin_code = performance.now();
            first_keydown = false;
        };
    
    });
    // Finished code snippet. Sum time to variable.
    editor.on('keyup', function() {
        delay(function(){
            seconds_end_code = performance.now();
            console.log("seconds in this snippet:" + Math.round(
                (seconds_end_code - seconds_begin_code)/1000));
            seconds_in_code += Math.round((seconds_end_code - seconds_begin_code)/1000);
            console.log("seconds in code: " + seconds_in_code);
            first_keydown = true;
        }, 1000);
    });
</script>
{% endblock %}
