{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% load escape_doublequote %}
{% block content %}
<div class="col col-5">

    <!-- problem statement -->
    <div class="card statement">
        <div>
        <h3 class="col-10">{{ problem.title }}</h3>
        <div class="col-2">
            <a class="link" onclick="skipit()">{% blocktrans %}Skip{% endblocktrans %}</a></div>
        </div>
        <span id="problem_content"></span>
    </div>

    <div class="card result">
        <h3>Test cases</h3>
        <div id="outcome">
        </div>
    </div>

    <!-- test cases -->
    <div class="col-12" id="evaluation">
    </div>

</div>
<div class="col col-7">

    <!-- code -->
    <div class="card">
        <textarea class="code" id="code" name="solution" autofocus="true" style="display: none;">{{tip}}</textarea>
        <div style="text-align: center;">
            <button class="primary" id="run" onclick="runit({{test_case|safe|escape_doublequote}}, '{{header}}', {{expected_results|safe|escape_doublequote}})">
            {% blocktrans %}Run{% endblocktrans %}
            </button>
            <div class="loader" style="display: none;">
                <div></div>
            </div>
        </div>
    </div>

    <!-- output -->
    <div style="display: none;" id="output-div">
        <pre id="output"></pre>
    </div>

    <!-- interactive -->
    <div class="card interactive">
        <textarea class="" id="interactive" cols="85" rows="1" style="display: none;"></textarea>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/repl.js' %}"></script>
<script>
    var textareas = document.querySelectorAll(".code");

    //code editor
    for (var i = 0; i < textareas.length; i++) {
        if (textareas[i].classList.contains('interactive')) {
            lineNumbers = false
        } else {
            lineNumbers = true
        }
        var editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: lineNumbers,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true
    });
    editor.setSize('100%',300);
    }

    //load student solution in the interactive
    /*$('#run').click(function() {
        var solution = $(".CodeMirror")[0].CodeMirror.getValue()
        //begin inputting solution text into interactive
        var cm = $(".CodeMirror")[1].CodeMirror;
        var doc = cm.getDoc();
        var cursor = doc.getCursor();
        var line = doc.getLine(cursor.line);
        cm.replaceRange("", { line, ch: 0 }, { line });
        var pos = {
            line: cursor.line
        };

        if (line.length === 0) {
            // check if the line is empty
            // add the data
            doc.replaceRange(solution, pos);
        } else {
            // add a new line and the data
            doc.replaceRange('\n' + data, pos);
        }

        cm.focus();

        var e = $.Event('keydown', { keyCode: 13 });
        $(document).trigger(e);
    });*/
    
    //save log
    START = "{% url 'start' %}";
    var next_url = '{% url 'next' %}';
    function save_log(outcome, seconds_in_code, seconds_to_begin, seconds_in_page){

        {% if problem.question_type == "M" %}{% for item in options %}
        if (document.getElementById("{{item}}").checked) {
            solution = "{{item}}";
        }
        {% endfor %}{% endif %}

        $.ajax({
            type: "POST",
            url: '{% url 'savelog' %}',
            data: {
                'problem': {{problem.id}},
                {% if problem.question_type == "C" %}
                'solution': editor.getValue(),
                {% elif problem.question_type == "M" %}
                'solution': solution,
                {% elif problem.question_type == "T" %}
                'solution': document.getElementById("ans").value,
                {% endif %}
                'outcome': outcome,
                'seconds_in_code': seconds_in_code,
                'seconds_to_begin': seconds_to_begin,
                'seconds_in_page': seconds_in_page,
                {% if problem.question_type == "C" %}
                'solution_lines': editor.lineCount(),
                'console': document.getElementById("output").innerHTML,
                {% elif problem.question_type == "M" %}
                'solution_lines': 0,
                {% elif problem.question_type == "T" %}
                'solution_lines': 0,
                {% endif %}
                'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
        dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
        },
        error: function (request, status, error) {
            console.log(request.status);
        }
    });
    }

    // Load markdown
    var converter = new showdown.Converter({'simplifiedAutoLink': true}),
        text      = `{{problem.content}}`,
        html      = converter.makeHtml(text);
    $("#problem_content").html(html);
    console.log($("#problem_content").html())

    seconds_end_page = performance.now()
    seconds_in_page = Math.round((seconds_end_page - seconds_begin_page)/1000);
    console.log("seconds in page:" + seconds_in_page);
    save_log(outcome, seconds_in_code, seconds_to_begin, seconds_in_page);
</script>
{% endblock %}
