{% extends "questions/base.html" %}
{% load static %}
{% load escape_doublequote %}
{% block header %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.40.0/lib/codemirror.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/codemirror-5.40.0/theme/blackboard.css' %}" />
{% endblock %}
{% block content %}
      <!-- Problem statement -->
      <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">{{ problem.title }}</h1>
          <span id="problem_content">
            {{ problem.content|linebreaks}}
          </span>
        </div>
      </div>

      <!-- Code -->
      <div class="row">
        <div class="col-lg-12">
          <form>
                  <textarea id="code" cols="80" rows="10">{{tip}}</textarea><br />
                  <div style="text-align: center;">
                      <button type="button" onclick="runit({{test_case|safe|escape_doublequote}}, '{{header}}', {{expected_results|safe|escape_doublequote}})" class="btn-lg btn-default">Run</button>
                      <button type="button" onclick="skipit()" id="next" class="btn btn-primary btn-lg" style="color:white;">Skip</button>
                  </div>
          </form>
        </div>
      </div>

      <!-- Output -->
      <div class="row top-buffer" style="display:none" id="output-div">
        <div class="col-lg-12">
          <div class="jumbotron bg-dark text-white">
              <h1 class="display-4">Output:</h1>
              <pre id="output" style="background:black; color:white">
              
              </pre> 
          </div>
        </div>
      </div>
      <!-- If you want turtle graphics include a canvas -->
      <!--<div id="mycanvas"></div> -->

      <!-- Test cases -->
      <div class="row top-buffer" style="display:none" id="testcase-div">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Test cases</h1>
                <div id="evaluation"></div>
            </div>
        </div>
      </div>
      <!--{{test_case}}-->

{% endblock %}


{% block javascript %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script> 
<script src="http://www.skulpt.org/js/skulpt.min.js" type="text/javascript"></script> 
<script src="http://www.skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" type="text/javascript"></script>
<script src="{% static 'vendor/codemirror-5.40.0/lib/codemirror.js' %}"></script>
<script src="{% static 'vendor/codemirror-5.40.0/mode/python/python.js' %}"></script>

<script src="{% static 'js/sculpt.js' %}"></script>
<script>
START = "{% url 'start' %}";
var next_url = '{% url 'next' %}';
function save_log(outcome, seconds_in_code, seconds_to_begin, seconds_in_page){
    $.ajax({
        type: "POST",
        url: '{% url 'savelog' %}',
        data: {
            'problem': {{problem.id}},
            'solution': editor.getValue(),
            'outcome': outcome,
            'seconds_in_code': seconds_in_code,
            'seconds_to_begin': seconds_to_begin,
            'seconds_in_page': seconds_in_page,
            'solution_lines': editor.lineCount(),
            'console': document.getElementById("output").innerHTML,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(data){
            console.log('status: ' + data['status']);
        },
        error: function (request, status, error) {
            console.log(request.status);
      }
    });
}

// Load markdown
var converter = new showdown.Converter({'simplifiedAutoLink': true}),
    text      = `{{problem.content}}`,
    html      = converter.makeHtml(text);
$("#problem_content").html(html);
console.log($("#problem_content").html())
</script>
{% endblock %}
