{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="col col-6">
    <div class="card">
        <h3>{% blocktrans %}Chapters{% endblocktrans %}</h3>
        <table>
            <tr>
                <td style="padding-left: 1rem; font-weight: 400; width: 50%">{% blocktrans %}Chapter{% endblocktrans %}</td>
                <td style="font-weight: 400; text-align: center;">{% blocktrans %}Deadline{% endblocktrans %}</td>
            </tr>
            {% for chapter in chapters %}
            <tr class="row" style="cursor: pointer;" onclick="window.location='{% url 'show_chapter' chapter=chapter.chapter.id %}';">
                <td>{{chapter.chapter.label}}</td>
                <td style="text-align: center;">{{chapter.deadline.deadline}}</td>
                <td style="text-align: right;"><a href="{% url 'delete_deadline' onlineclass=onlineclass.id deadline=chapter.deadline.id %}" class="link del">{% blocktrans %}Delete{% endblocktrans %}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="card">
        <h3>{% blocktrans %}Add chapter{% endblocktrans %}</h3>
        <form action="{% url 'manage_class' onlineclass=onlineclass.id %}" method="POST">
            {% csrf_token %}
                {% for message in form.chapter.errors %}
                <span id="error">{{ message }}</span></br>
                {% endfor %}
                <h4>{% blocktrans %}Name{% endblocktrans %}</h4>
                <select name="{{ form.chapter.name }}" id="id_chapter" required="required" style="width: 100%; margin-bottom: 1rem;">
                    {% for item in form.chapter.field.choices %}
                    <option value="{{ item.0 }}" {% if item.0 == chapter %}selected{% endif %}>{{ item.1 }}</option>
                    {% endfor %}
                </select>
                <div style="display: flex; text-align: flex-start; flex-direction: column;">
                <h4>{% blocktrans %}Deadline{% endblocktrans %}</h4>
                <div style='display: flex; flex-direction: row; align-items: center;'>
                <div style="width: 50%">
                {% for message in form.date.errors %}
                <span id="error" style="text-align: center;">{{ message }}</span></br>
                {% endfor %}
                <input type="date" name="date" placeholder="{% blocktrans %}Date (yyyy-mm-dd){% endblocktrans %}" required style="width: calc(100%);">
                </div>
                <div style="width: 50%">
                {% for message in form.time.errors %}
                <span id="error" style="margin-left: 1rem; text-align: center;">{{ message }}</span></br>
                {% endfor %}
                <input type="text" name="time" placeholder="{% blocktrans %}Time (H:M){% endblocktrans %}" required style="width: calc(100% - 1rem); margin-left: 1rem">
                 </div></div></div>
            <div class="col-12" style="margin-top: 1rem; text-align: center;">
                <button class="primary" type="submit">{% blocktrans %}Add{% endblocktrans %}</button>
            </div>
        </form>
    </div>
</div>
<div class="col col-6">
    <div class="card students" style="position: relative;">
        <div style="position: absolute; top: 1.5rem; right: 1.5rem; display: flex; justify-content: flex-end;">
            <span style="margin: 0 10px 0 0; font-weight: 400;">Risco de abandono</span>
            <span style="background-color: var(--green); width: 15px; height: 15px; margin: 3px 5px 0 5px;"></span>
            <span>Baixo</span>
            <span style="background-color: var(--yellow); width: 15px; height: 15px; margin: 3px 5px 0 5px;"></span>
            <span>Médio</span>
            <span style="background-color: var(--red); width: 15px; height: 15px; margin: 3px 5px 0 5px;"></span>
            <span>Alto</span>
        </div>
        <h3>{% blocktrans %}Students{% endblocktrans %}</h3>
        <table>
            {% for student in students_list %}
            <tr class="row" style="border: none; border-left: 5px solid {% if student.predict < 7 %}var(--red){% elif student.predict < 9 %}var(--yellow){% elif student.predict < 20 %}var(--green){% else %}#fff{% endif %} ; background-color: {% if student.predict < 7 %}#FFB1AF{% elif student.predict < 9 %}#FFEEA5{% elif student.predict < 20 %}#C8F69B{% else %}#fff{% endif %};">
                <td>
                    <span style="display: inline-block; background-color: #fff; border-radius: 5px; margin: 0 0 0; padding: 5px 8px;;">{{student.student.first_name}} {{student.student.last_name}}</span></td>
                <td style="width: 8rem; text-align: right;"><a class="link" href="{% url 'student_solutions' id=student.student.id %}">
                {% blocktrans %}Solutions{% endblocktrans %}</a></td>
                <td style="width: 8rem; text-align: right;"><a class="link" href="{% url 'student_dashboard' id=student.student.id %}">
                {% blocktrans %}Dashboard{% endblocktrans %}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">


    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Class',
                'name': '{{onlineclass.name}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    
</script>
{% endblock %}
