{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col col-12">
  <div class="card">
{% if students %}
<div class="solutions">
<!--<div class="header">
        <div>{% trans 'Student' %}<br>({% trans 'Submissions'  %})</div>
        <div>{% trans 'Solutions' %}</div>
    </div>
 -->
    {% for student in students %}
        <div>
            <h3>{{ student.name }} ({{ student.logs | length }})</h3>
        </div>
        <div style="display: flex; align-items: center;">
        {% for log in student.logs %}
        <div class="solution">
            <span style="display:inline-block;">{{ log.timestamp }}</span>
            {% if log.outcome == "P" %}
            <span class="badge success">{% trans "Passed" %}</span>
            {% elif log.outcome == "F" %}
            <span class="badge danger">{% trans "Failed" %}</span>
            {% elif log.outcome == "S" %}
            <span class="badge warning">{% trans "Skipped" %}</span>
            {% endif %}
            <textarea class="code">{{ log.solution }}</textarea>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
</div>
</div>
{% endif %}
{% endblock %}
{% block javascript %}
<script>
    var textareas = document.querySelectorAll(".code");

    for (var i = 0; i < textareas.length; i++) {
        editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true
        });
    editor.setSize(500,300);}

</script>
{% endblock %}