{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col col-12">
    <div style="display: flex;">
        <div class="card" style="width: 50%; margin-right: 1rem">
            <h3>{% blocktrans %}Student{% endblocktrans %}</h3>
            <div style="display: flex; justify-content: space-between;">
            <div style="font-size: 1.2rem;">{{student.first_name}} {{student.last_name}}</div>
            <div>
                <a style="margin-right: 1rem" class="link" href="{% url 'student_solutions' id=student.id %}">
                {% blocktrans %}Solutions{% endblocktrans %}</a>
                <a class="link" href="{% url 'student_dashboard' id=student.id %}">
                {% blocktrans %}Dashboard{% endblocktrans %}</a>
            </div>
            </div>
        </div>
        <div class="card" style="width: 50%; margin-left: 1rem">
            <h3>{% blocktrans %}Chapter{% endblocktrans %}</h3>
            <div style="display: flex; justify-content: space-between;">
            <div style="font-size: 1.2rem;">{{chapter.label}}</div>
            <div>
                <a class="link" href="{% url 'show_chapter' chapter=chapter.id %}">
                {% blocktrans %}See chapter{% endblocktrans %}</a>
            </div>
            </div>
        </div>
    </div>
<div class="card">
{% if problems %}
<div class="solutions">
    {% for problem in problems %}
        <div>
            <h3>{{ problem.problem.title }} ({{ problem.logs | length }})</h3>
        </div>
        <div style="display: flex; align-items: center;">
        {% for log in problem.logs %}
        <div class="solution">
            <span style="display:inline-block;">{{ log.timestamp }}</span>
            <span style="display:inline-block;">Lang: {{log.language}}</span>
            <div style="text-align: center;"><a class="link" href="{% url 'past_solutions' id=log.id %}">{% blocktrans %}See solution{% endblocktrans %}</a></div>
            <div style="display: flex; width: 100%; align-items: center; padding-top: 1rem;">
                <div style="width: 90%; text-align: center;">
                <div>{% blocktrans %}Test cases{% endblocktrans %}</div>
                <div style="display: flex;">{% if log.test_case_hits != None %}{{ log.test_case_hits }}%{% endif %}
                <div class="task-progress2" style="{% if log.test_case_hits != None %}background: var(--red);{% endif %} width: calc(100% - 5rem); height: 0.5rem; margin-left: 1rem; margin: auto;">
                    <div style="width: {{ log.test_case_hits }}%; background: var(--green);"></div></div>
                </div>
            </div>
            <div>
            {% if log.outcome == "P" %}
            <span class="badge success">{% trans "Passed" %}</span>
            {% elif log.outcome == "F" %}
            <span class="badge danger">{% trans "Failed" %}</span>
            {% elif log.outcome == "S" %}
            <span class="badge warning">{% trans "Skipped" %}</span>
            {% endif %}
            </div>
            </div>
            <textarea class="code" lang="{{log.language}}">{{ log.solution }}</textarea>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% else %}
<h2 style="text-align: center; margin: 1rem">{% trans "No submission" %}</h2>
{% endif %}
</div>
</div>
{% endblock %}
{% block javascript %}
<script>

    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Student solutions',
                'name': '{{student.username}} - {{chapter.label}}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
                console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
                console.log(request.status);
            }
        });
    });
    var textareas = document.querySelectorAll(".code");

    for (var i = 0; i < textareas.length; i++) {
        editor = CodeMirror.fromTextArea(textareas[i], {
            mode: {name: "python",
                version: 2,
                singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            tabMode: "spaces",
            matchBrackets: true,
            readOnly: true
        });
        if(textareas[i].lang == "C")
            editor.setOption('mode', { name: "text/x-csrc" });
        else if(textareas[i].lang == "Julia")
            editor.setOption('mode', { name: "julia" });
        editor.setSize(500,300);
    }

</script>
{% endblock %}