{% extends "questions/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="col col-6">
	<div style="display: flex;">

		<!-- problems plot -->
		<div class="col-7">
	        <div class="card" style="height: 25rem">
	        	<h3>{% blocktrans %}Problems{% endblocktrans %}</h3>
		        {{ problems_plot|safe }}
	        </div>
	    </div>

	    <div class="col-5" style="padding-left: 2rem;">

	    	<div class="card times" style="border-left: 4px solid {% if problems_time.student < problems_time.class %}var(--green){% elif problems_time.student == problems_time.class %}var(--yellow){% else %}var(--red){% endif %}">
	    		<div>
	    			<h3>{% blocktrans %}Average time{% endblocktrans %}</h3>
	    		    <span>{% blocktrans %}to perform a problem{% endblocktrans %}</span>
	    		</div>
	    		<div style="display: flex; justify-content: space-around; align-items: center;">
	    			<div class="student">
	    		        <h1>{{ problems_time.student }} min</h1>
                        <h2>
                        {% if perms.questions.view_userlogview %}
                        {% blocktrans %}Student{% endblocktrans %}
                        {% else %}
                        {% blocktrans %}You{% endblocktrans %}
                        {% endif %}
                        </h2>
	    		    </div>
	    		    <div class="class">
	    		        <h1>{{ problems_time.class }} min</h1>
	    		        <h2>
                        {% if perms.questions.view_userlogview %}
                        {% blocktrans %}Class{% endblocktrans %}
                        {% else %}
                        {% blocktrans %}Your class{% endblocktrans %}
                        {% endif %}
                        </h2>
	    		    </div>
	    		</div>
	    		<div></div>
	    	</div>

	    	<div class="card errors">
	    		<div>
	    			<h3>{% blocktrans %}Errors{% endblocktrans %}</h3>
	    		    <span>{% blocktrans %}before you get right a problem{% endblocktrans %}</span>
	    		</div>
	    		<div>
	    		    <h1>{{ errors }} {% blocktrans %}error{% endblocktrans %}{% if errors > 1 %}s{% endif %}</h1>
	    		    <h2>{% blocktrans %}on average{% endblocktrans %}</h2>
	    		</div>
	    		<div></div>
	    	</div>

	    </div>
    </div>

    <!-- errors plot -->
	<div class="card chapters">
	   	<h3>{% blocktrans %}Average errors{% endblocktrans %}</h3>
	    <span>{% blocktrans %}per chapter{% endblocktrans %}</span>
        {{ errors_plot|safe }}
	</div>

</div>
<div class="col col-6">
	<div class="card chapters">
		<div>
            <h3 style="margin-bottom: 1rem">{% blocktrans %}Chapters{% endblocktrans %}</h3>
            <div style="overflow-y: auto; height: 330px">
            <table>
                <tr>
                    <td>{% blocktrans %}Name{% endblocktrans %}</td>
                    <td>{% blocktrans %}Progress{% endblocktrans %}</td>
                    <td style="text-align: center;">{% blocktrans %}Time{% endblocktrans %}</td>
                </tr>
            	{% for chapter in chapters %}
            	<tr class="row" onclick="window.location='{% url 'show_chapter' chapter=chapter.id %}';" style="cursor: pointer !important;">
            	    <td class="col-6">{{ chapter.label }}</td>
                    <td class="col-4" style="text-align: right;">
                    <div class="task-progress" style="width: 100%">
                    	<div style="width: {{ chapter.progress }}%; background: {% if chapter.progress == 100 %}limegreen{% else %}var(--primary){% endif %}"></div>
                    </div>
                    <span>{{ chapter.progress }}%</span>
                    <td class="col-2" style="text-align: center;">
                    {% if chapter.chapter_time %} {{ chapter.chapter_time }} {% blocktrans %}day(s){% endblocktrans %} {% else %}-{% endif %}</td>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
	</div>

	<!-- time plot -->
    <div class="card chapters">
	   	<h3>{% blocktrans %}Time{% endblocktrans %}</h3>
	    <span>{% blocktrans %}per chapter{% endblocktrans %}</span>
        {{ time_plot|safe }}
    </div>

</div>
{% endblock %}}

{% block javascript %}
<script type="text/javascript">
	
    // Save page access
    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "saveaccess" %}',
            data: {
                'page': 'Student dashboard',
                {% if perms.questions.view_userlogview %}
                'name': '{{student.username}}',
                {% endif %}
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(data){
            console.log('status: ' + data['status']);
            },
            error: function (request, status, error) {
            console.log(request.status);
            }
        });
    });
    
</script>
{% endblock %}
