/* Theme settings */
.theme-dark {
    --color1: rgb(27,40,55);
    --color2: rgb(5,15,20);
    --color3: rgb(21,30,41);
    --color5: rgb(24,35,47);
    --color4: white;
    --icon: url("../img/icon2.png");
    --icon2: url("../img/icon.png");
    --icon3: url("../img/icon6.png");
    --icon4: url("../img/icon5.png");
    --font-weight: 200;
    --background: url("../img/background.png");
    --select-bg: url("../img/arrow1.png");
}
.theme-light {
    --color1: white;
    --color2: rgb(240,240,240);
    --color3: rgb(230,230,230);
    --color4: rgb(27,40,55);
    --color5: rgb(240,240,240);
    --icon: url("../img/icon3.png");
    --icon2: url("../img/icon4.png");
    --icon3: url("../img/icon5.png");
    --icon4: url("../img/icon6.png");
    --font-weight: 300;
    --background: url("../img/background2.png");
    --select-bg: url("../img/arrow2.png");
}
body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--background);
    background-color: var(--color1);
    background-position: top;
    background-blend-mode: multiply;
    background-size: 1920px;
    background-repeat: no-repeat;
    color: var(--color4);
    font-size: 18px;
    font-weight: var(--font-weight);
    --shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.20);
}
h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}
a {
    color: var(--color4);
}
input:focus {
    outline: none;
}
.show-first, .show-second, .show-third {
    opacity: 0;
}
/* Loader styles */
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27,40,55);
    z-index: 300;
}
.loader-img {
    width: 70px;
}
/* Navigation bar styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.brand {
    color: var(--color4);
    font-weight: bold;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 35px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    height: 50px;
    margin-top: 20px;
}
.menu a, .login-menu a {
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color4);
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a:hover, .login-menu a:hover {
    font-weight: bold;
    transition: all 0.5s;
}
.menu-small {
    background-color: var(--color3);
    width: 0;
    height: 0;
    max-width: 450px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    display: block;
    z-index: 100;
    box-sizing: border-box;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    text-transform: uppercase;
}
.menu-small a {
    margin-left: 30px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color4);
    height: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.burger {
    cursor: pointer;
    margin-right: 30px;
    margin-top: 20px;
    display: none;
}
.line {
    width: 30px;
    height: 7px;
    background-color: var(--color4);
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
#x {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 35px;
    font-weight: bold;
    z-index: 200;
}
.login-menu {
    display: none;
}
.login-btn {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    box-shadow: var(--shadow);
    cursor: pointer;
    text-transform: uppercase;
}
.login-btn:hover {
    background: var(--color4);
    color: var(--color2);
    transition: all 0.5s;
}
#accountslogin {
    margin-right: 50px;
}
.user {
    background-color: var(--color2);
    box-shadow: var(--shadow);
    font-size: 15px;
    height: 50px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 50px;
    text-transform: none;
}
.user a {
    height: 50px;
    text-transform: uppercase;
    padding: 0;
    display: block;
    font-size: 17px;
    font-weight: normal;;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-left: 20px;
    padding-top: 15px;
}

/* Strategy bar styles */
.strategy-div {
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    text-transform: uppercase;
}
.switch {
    background-color: var(--color2);
    display: flex;
    border-radius: 30px;
    margin-left: 10px;
    box-shadow: var(--shadow);
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.strategy {
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strategy input {
    display: none;
}
.strategy label {
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: var(--font-weight);
}
.strategy label[for="1"] {
    width: 100px;
}
.strategy label[for="0"] {
    width: 90px;
}
.strategy label:hover {
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s;
}
.strategy input:checked+label {
    color: var(--color2);
    background-color: var(--color4);
    font-weight: normal;
    transition: all 0.5s;
}

/*Inferior bar style */
.inferior {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    z-index: 100;
}
.inferior-small {
    padding: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: normal;
}

/* Select language button style */
.lang, lang-small {
    background: var(--icon3);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: var(--color2);
    width: 90px;
    padding: 15px;
    padding-left: 45px;
    padding-right: 20px;
    border-radius: 40px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color4);
}
.lang {
    margin-bottom: 10px;
}
.lang:hover {
    background: var(--icon4);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: var(--color4);
    transition: all 0.5s;
    color: var(--color2);
}
.lang-small {
    margin-bottom: 20px;
}

/* Change theme button style */
.change-colors, .change-colors-small {
    background: var(--icon);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: var(--color2);
    width: 90px;
    padding: 15px;
    padding-left: 45px;
    padding-right: 20px;
    border-radius: 40px;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color4);
}
.change-colors-small {
    margin-bottom: 20px;
}
.change-colors:hover {
    background: var(--icon2);
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 15px;
    background-color: var(--color4);
    transition: all 0.5s;
    color: var(--color2);
}

/* Container */
.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* Footer styles */
.footer {
    color: var(--color4);
    font-weight: 300;
    text-align: center;
    font-size: 13px;
    padding: 50px;
}
.footer a {
    color: var(--color4);
}

/* Index styles */
.welcome-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.welcome-div h1 {
    font-size: 90px;
}
.welcome-div a {
    background: var(--color4);
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    margin-left: 30px;
    height: 70px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color2);
    font-weight: 300;
}
.welcome-div a:hover {
    background-color: var(--color2);
    color: var(--color4);
    box-shadow: var(--shadow);
    transition: all 0.3s;
}
.guidelines-div {
    background-color: var(--color3);
    padding: 40px;
    border-radius: 10px;
}
.guidelines-div h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

/* Login page styles */
.login-div {
    background-color: var(--color3);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.loginform {
    box-sizing: border-box;
}
.loginform input {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-weight: 200;
}
.loginform input[type="submit"] {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.loginform input[type="submit"]:hover {
    background: var(--color4);
    color: var(--color2);
    transition: all 0.5s;
}
.loginform a {
    text-decoration: none;
    color: var(--color4);
    font-size: 15px;
    cursor: pointer;
}
.loginform a:hover {
    font-weight: 500;
    transition: all 0.2s;
}
.loginform div {
    padding-bottom: 10px;
}

/* Signup page styles */
.signupform {
    background-color: var(--color3);
    color: var(--color4);
    padding: 40px;
    border-radius: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.signupform p {
    margin: 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.signupform label {
    text-transform: uppercase;
    text-align: right;
    width: 140px;
    margin-right: 20px;
}
.signupform input {
    height: 30px;
    width: 250px;
    border-radius: 30px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    font-size: 15px;
    box-shadow: var(--shadow);
}
.signupform ul {
    margin-top: 0;
    text-align: left;
    font-size: 15px;
}
.helptext {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}
.signupform span {
    font-size: 13px;
}
.signupform select {
    background-image: url("../img/arrow2.png");
    background-size: 275px;
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
    width: 290px;
    border-radius: 30px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: var(--shadow);
    -moz-appearance: none;
    -webkit-appearance: none;
}
.signupform label[for="id_programming"] {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
#id_programming {
    width: 100px;
}
#id_accepted {
    width: 20px;
    cursor: pointer;
}
.signupform label[for="id_accepted"] {
    width: auto;
    font-size: 15px;
}
.signupform button {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    font-size: 15px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.signupform button:hover {
    background: var(--color4);
    color: var(--color2);
    transition: all 0.5s;
}

/* Reset password page styles */
.reset-div {
    background-color: var(--color3);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}
.resetform {
    box-sizing: border-box;
    text-align: center;
}
.resetform label {
    text-transform: uppercase;
}
.resetform input {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    font-weight: 200;
}
.resetform button {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    width: 100px;
    margin-bottom: 20px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.resetform button:hover {
    background: var(--color4);
    color: var(--color1);
    transition: all 0.3s;
}

/* Problem page styles */
.problem img {
    padding: 20px;
    border-radius: 10px;
    background: white;
}
.problem {
    overflow-x: auto;
}
.code {
    background-color: var(--color3);
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
}
.code button {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.code button:hover {
    background: var(--color4);
    color: var(--color1);
    transition: all 0.3s;
}
.code a {
    font-size: 17px;
    cursor: pointer;
}
.code a:hover {
    font-weight: 500;
    transition: all 0.2s;
}
.multiple-c {
    background-color: var(--color3);
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.option {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.option p {
    margin: 0;
}
.option [type="radio"]:checked,
.option [type="radio"]:not(:checked) {
    display: none;
}
.option [type="radio"]:checked + label,
.option [type="radio"]:not(:checked) + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 80px;
}
.option [type="radio"]:checked + label:before,
.option [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50% -20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--color5);
}
.option [type="radio"]:checked + label:after,
.option [type="radio"]:not(:checked) + label:after {
    content: '✓';
    font-size: 37px;
    text-align: center;
    width: 42px;
    height: 42px;
    background: var(--color2);
    box-shadow: var(--shadow);
    position: absolute;
    top: 50% -21px;
    left: -1px;
    border-radius: 100%;
    transition: all 0.2s;
}
.option [type="radio"]:hover + label:before {
    content: '✓';
    opacity: 0.5;
    font-size: 37px;
    text-align: center;
    width: 42px;
    height: 42px;
    background: var(--color5);
    position: absolute;
    top: 50% -21px;
    left: -1px;
    border-radius: 100%;
    transition: all 0.2s;
 }
.option [type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
.option [type="radio"]:checked + label:after {
    opacity: 1;
}
.option label {
    width: 100%;
}
.item {
    width: 100%;
}
.result {
    margin-left: 30px;
}
.correct, .wrong {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 1px;
    padding-top: 1px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    border-radius: 100%;
}
.correct {
    background: #00bb00;
}
.wrong {
    background: red;
}
.multiple-c button {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.multiple-c button:hover {
    background: var(--color4);
    color: var(--color1);
    transition: all 0.3s, color 0.3s;
}
.multiple-c a {
    font-size: 17px;
    cursor: pointer;
}
.multiple-c a:hover {
    font-weight: 500;
    transition: all 0.2s;
}
.textbox {
    background-color: var(--color3);
    border-radius: 10px;
    margin-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 40px;
}
.textbox input {
    background: none;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 24px;
    color: var(--color4);
    font-weight: var(--font-weight);
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
}
.textbox input:hover {
    background: var(--color5);
}
.textbox input:focus {
    background: var(--color5);
}
.textbox button {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.textbox button:hover {
    background: var(--color4);
    color: var(--color1);
    transition: all 0.3s;
}
.textbox a {
    font-size: 17px;
    cursor: pointer;
}
.textbox a:hover {
    font-weight: 500;
    transition: all 0.2s;
}
.run {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.run h2 {
    margin-bottom: 30px;
}
#output-div {
    width: 47%;
}
#output {
    background-color: var(--color3);
    padding: 40px;
    border-radius: 10px;
    overflow-x: auto;
}
#testcase-div {
    width: 47%;
}
#evaluation {
    background-color: var(--color3);
    padding: 40px;
    border-radius: 10px;
}
.sucess, .danger {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 30px;
    color: white;
    font-weight: normal;
}
.sucess {
    background-color: #00bb00;
}
.danger {
    background-color: red;
}

/* Tables styles */
table {
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    border-collapse: collapse;
    text-transform: uppercase;
}
td{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
th {
    padding: 25px;
    padding-bottom: 20px;
}
tr:nth-child(even) td {
    background-color: var(--color5);
}
table a {
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
}
table a:hover {
    font-weight: bold;
}
table .passed, .failed, .skipped {
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    font-weight: 300;
}
table .passed {
    background-color: #00bb00;
    color: white;
}
table .failed {
    background-color: red;
    color: white;
}
table .skipped {
    color: var(--color4);
}
.dataTables_wrapper {
    background-color: var(--color3);
    padding-top: 40px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dataTables_length, .dataTables_filter {
    width: 50%;
    text-transform: uppercase;
    font-size: 17px;
}
.dataTables_filter input {
    -webkit-appearance: none;
}
.dataTables_length select {
    background: white;
    border-radius: 30px;
    border: none;
    box-shadow: var(--shadow);
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align-last:center;
}
select::-ms-expand {display: none;}
.dataTables_filter input {
    border-radius: 30px;
    border: none;
    box-shadow: var(--shadow);
    width: 50%;
    height: 40px;
    padding: 10px;
    padding-bottom: 12px;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 17px;
}
.dataTables_info {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.dataTables_paginate {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
.dataTables_paginate a {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.paginate_button {
    width: 30px;
}
.paginate_button:hover {
    font-weight: bold;
}
.next {
    width: 40px;
}
.previous {
    width: 70px;
}
.next, .previous {
    background: var(--color2);
    color: var(--color4);
    font-size: 15px;
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    box-shadow: var(--shadow);
    font-weight: normal;
}
.next:hover, .previous:hover {
    background: var(--color4);
    color: var(--color2);
    transition: all 0.2s;
    font-weight: normal;
}
.current {
    font-weight: bold;
}

/* Past problems page styles */
.past-problems td:nth-child(1) {
    font-size: 15px;
    font-weight: normal;
}
.past-problems td:nth-child(2), .past-problems th:nth-child(2) {
    text-align: left;
    text-transform: none;
}

/* Chapters page styles */
#aula select {
    background-image: var(--select-bg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--color3);
    color: var(--color4);
    border: none;
    height: 60px;
    padding-left: 30px;
    padding-right: 70px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    margin-left: 10px;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
select::-ms-expand { display: none; }
}
#aula option {
    font-size: 20px;
}
.chapters td:nth-child(1) {
    width: 30%;
    text-transform: none;
    padding-left: 5%;
}
.chapters th:nth-child(1) {
    padding-left: 5%;
}
.chapters td:nth-child(2), .chapters th:nth-child(2) {
    text-align: left;
    width: 40%;
    padding-left: 10%;
}
.chapters td:nth-child(3), .chapters th:nth-child(3) {
    width: 15%;
    padding-right: 5%;
}

/* Outcomes page styles */
.outcome-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-right: 50px;
}
.outcome-filter p {
    width: 50%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.outcome-filter div {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 50px;
}
.outcome-filter label[for="id_onlineclass"] {
    visibility: hidden;
}
.outcome-filter label[for="id_onlineclass"]:after {
    visibility: visible;
    content: "CLASS";
}
.outcome-filter label[for="id_chapter"] {
    visibility: hidden;
}
.outcome-filter label[for="id_chapter"]:after {
    visibility: visible;
    content: "AULA";
}
.outcome-filter select {
    background-image: var(--select-bg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--color3);
    color: var(--color4);
    border: none;
    height: 60px;
    padding-left: 30px;
    padding-right: 70px;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    border-radius: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
select::-ms-expand { display: none; }
}
.outcome-filter #id_onlineclass {
    width: 200px;
}
.outcome-filter #id_chapter {
    width: 300px;
}
.search {
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 30px;
    border: none;
    width: 130px;
    margin-bottom: 20px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.search:hover {
    background: var(--color4);
    color: var(--color1);
    transition: all 0.3s;
}
.export {
    background: none;
    color: var(--color4);
    font-size: 17px;
    font-weight: var(--font-weight);
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.export:hover {
    font-weight: 500;
    transition: all 0.2s;
}
#outcomes_wrapper {
    width: 100%;
    overflow-x: auto;
}
#outcomes td {
    min-width: 100px;
    padding: 20px;
    border-left: 1px solid dimgray;
}
#outcomes td:nth-child(1) {
    padding-left: 30px;
    width: 200px;
    border-left: none;
}
#outcomes td:last-child {
    padding-right: 30px;
}
.total {
    margin: 5px;
    display: block;
    width: 100px;
}







/* Media Queries */
@media only screen and (max-width: 1690px) {
    .burger {
        display: block;
    }
    .menu {
        display: none;
    }
    .login-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        height: 50px;
        margin-top: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 830px) {
    body {
        background-image: none;
        padding-top: 170px;
    }

    /* Navigation styles */
    .navbar {
        position: fixed;
        top: 0;
        background-color: var(--color1);
        z-index: 200;
        height: 150px;
    }
    .brand {
        margin-left: 40px;
        font-size: 20px;
    }
    .burger {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .login-menu {
        width: 100%;
    }
    .change-colors {
        display: none;
    }
    .lang {
        display: none;
    }
    .inferior-small {
        display: flex;
    }
    .strategy-div {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
        justify-content: center;
        width: 550px;x
    }
    .switch {
        background: none;
        box-shadow: none;
        padding: 0;
    }
    .strategy label {
        background: var(--color2);
        box-shadow: var(--shadow);
    }
    .strategy label[for="0"] {
        margin-left: 10px;
    }

    /* Index page styles */
    .welcome-div {
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 50px;
        padding-right: 50px;
        padding-left: 50px;
        box-sizing: border-box;
    }
    .welcome-div h1 {
        font-size: 40px;
        margin: 0;
        margin-bottom: 50px;
    }
    .welcome-div a {
        margin: 0;
    }
    .guidelines-div {
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
    }
    .container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    /* Problem page styles */
    .code {
        padding-left: 20px;
        border-radius: 0;
    }
    .multiple-c {
        border-radius: 0;
    }
    .textbox {
        border-radius: 0;
    }
    .textbox input {
        background: var(--color5);
    }
    .problem {
        width: 100%;
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
        overflow-x: auto;
    }
    .run {
        display: block;
        width: 100%;
    }
    #output-div {
        width: 100%;
        padding-top: 20px;
    }
    #output {
        border-radius: 0;
    }
    #testcase-div {
        width: 100%;
        padding-top: 20px;
    }
    #evaluation {
        border-radius: 0;
    }



    .dataTables_wrapper {
        display: block;
        border-radius: 0;
        width: 100%;
    }
    .dataTables_length {
        width: 100%;
        font-size: 15px;
    }
    .dataTables_filter {
        width: 100%;
        font-size: 15px;
        margin-top: 30px;
    }
    table {
        max-width: 100%;
        box-sizing: border-box;
        margin-top: 50px;
    }
    td {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    th {
        padding: 0;
    }
    table .passed, .failed, .skipped {
        font-size: 13px;
        font-weight: normal;
    }

    /* Past problems page styles */
    .past-problems td:nth-child(1) {
        display: none;
    }
    .past-problems th:nth-child(1) {
        display: none;
    }
    .past-problems td:nth-child(2) {
        padding-left: 20px;
        font-size: 16px;
    }
    .past-problems th:nth-child(2) {
        padding-left: 20px;
    }
    .past-problems td:nth-child(2) {
        padding-right: 10px;
    }
    .past-problems a {
        font-size: 13px;
        font-weight: bold;
    }

    /* Chapters page styles */
    #aula select {
        width: 90%;
        font-size: 20px;
        margin: 0;
        margin-top: 20px;
    }
    .chapters td:nth-child(1) {
        padding-left: 20px;
        font-size: 15px;
        text-align: left;
    }
    .chapters td:nth-child(3) {
        padding-right: 20px;
        padding-left: 20px;
    }
    .chapters th:nth-child(3) {
        padding-right: 20px;
    }
    .chapters a {
        font-size: 15px;
        font-weight: bold;
    }

    /* Login page styles */
    .login-div {
        margin: 0;
        padding: 40px;
        padding-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }

    /* Reset password page styles */
    .reset-div {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }

    /* Signup page styles */
    .signupform {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
    .signupform label {
        margin-bottom: 20px;
        text-align: center;
    }
    .signupform input {
        width: 100%;
    }
    .signupform select {
        width: 100%;
    }
}
